{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes.addClass('author') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}
  {% if is_front %}
    <div{{ content_attributes.addClass('content') }}>
        {{ content }}
    </div>
  {% else %}
    <div class="row">
      <div class="sidebar-menu col-md-3 mt--20">
        {% if parent_menu_name == 'Nyheder ＆ presse' %}
          {{block_nyheder_presse_menu_left}}
        {% endif %}

        {% if parent_menu_name == 'Vidner, ofre ＆ sigtede' %}
          {{block_vidner_ofre_sigtede_menu_left}}
        {% endif %}

        {% if parent_menu_name == 'Viden ＆ statistik' %}
          {{block_viden_statistik_menu_left}}
        {% endif %}

        {% if parent_menu_name == 'Karriere' %}
          {{block_karriere_menu_left}}
        {% endif %}

        {% if parent_menu_name == 'Om os' %}
          {{block_om_os_menu_left}}
        {% endif %}
      </div>
      <div{{ content_attributes.addClass('content col-md-9') }}>
          <div class="mt--20">
            <div class="bg-black">{{ node.label }}</div>
            {% if current_id == 422 %}
              {% if current_language == 'da' %}
                {{ drupal_view('list_hyheder_article') }}
              {% endif %}
              {% if current_language == 'en' %}
                <div class="show-all-post">
                  <input class="allpost" type="checkbox" name="allpost">also include danish news
                </div>
                {{ drupal_view('list_hyheder_article_for_en') }}
                {{ drupal_view('list_hyheder_article_for_all') }}
              {% endif %}
            {% elseif current_id == 426 %}
              {% if content.field_link_url[0]['#url'] is not empty %}
                <a class="field-image-with-link" href="{{content.field_link_url[0]['#url']}}">{{ content.field_image }}</a>
              {% else %}
                {{ content.field_image }}
              {% endif %}
              {{ content.body }}
              <div class="webform-subcriber mt--20">
                {{ block_webform_subcriber }}
              </div>
            {% else %}
              {% if content.field_link_url[0]['#url'] is not empty %}
                <a class="field-image-with-link" href="{{content.field_link_url[0]['#url']}}">{{ content.field_image }}</a>
              {% else %}
                {{ content.field_image }}
              {% endif %}

              {% if social_position == 'top' %}
                {% if multi_follow is not empty %}
                  {% for item in multi_follow %}
                    {% if has_follow_twitter == true %}
                      <div class="follow-twitter-button mt--20">
                        {% if item == 23 %}
                          <a href="https://twitter.com/ThastumMit" class="twitter-follow-button" data-show-count="false">Follow @ThastumMit</a>
                        {% endif %}
                        {% if item == 24 %}
                            <a href="https://twitter.com/SimonGosvig" class="twitter-follow-button" data-show-count="false">Follow @SimonGosvig</a>
                        {% endif %}
                        {% if item == 25 %}
                          <a href="https://twitter.com/MadsenHenrik14" class="twitter-follow-button" data-show-count="false">Follow @MadsenHenrik14</a>
                        {% endif %}
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                {% if has_follow_linkedin == true %}
                  <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: da_DK</script>
                  <script type="IN/FollowCompany" data-id="9436432"></script>
                {% endif %}
                {% if has_share_twitter == true %}
                  <div class="share-button mt--20">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-hash>{{ 'Tweet'|t }}</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}
                    (document,"script","twitter-wjs");
                    </script>
                  </div>
                {% endif %}

                {% if has_share_linkedin == true %}
                  <div class="share-button linkedin-share-button mt--20">
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: da_DK</script>
                    <script type="IN/Share" data-url="{{ current_url }}"></script>
                  </div>
                {% endif %}

                {{ content.body }}
              {% elseif social_position == 'bottom' %}
                {{ content.body }}
                {% if multi_follow is not empty %}
                  {% for item in multi_follow %}
                    {% if has_follow_twitter == true %}
                      <div class="follow-twitter-button mt--20">
                        {% if item == 23 %}
                          <a href="https://twitter.com/ThastumMit" class="twitter-follow-button" data-show-count="false">Follow @ThastumMit</a>
                        {% endif %}
                        {% if item == 24 %}
                            <a href="https://twitter.com/SimonGosvig" class="twitter-follow-button" data-show-count="false">Follow @SimonGosvig</a>
                        {% endif %}
                        {% if item == 25 %}
                          <a href="https://twitter.com/MadsenHenrik14" class="twitter-follow-button" data-show-count="false">Follow @MadsenHenrik14</a>
                        {% endif %}
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                {% if has_follow_linkedin == true %}
                  <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: da_DK</script>
                  <script type="IN/FollowCompany" data-id="9436432"></script>
                {% endif %}
                {% if has_share_twitter == true %}
                  <div class="share-button mt--20">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-hash>{{ 'Tweet'|t }}</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}
                    (document,"script","twitter-wjs");
                    </script>
                  </div>
                {% endif %}

                {% if has_share_linkedin == true %}
                  <div class="share-button linkedin-share-button mt--20">
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: da_DK</script>
                    <script type="IN/Share" data-url="{{ current_url }}"></script>
                  </div>
                {% endif %}
              {% else %}
                {{ content.body }}
              {% endif %}
              {{ content.field_faq }}
            {% endif %}
          </div>
      </div>
    </div>
  {% endif %}

</article>
  <div class="organisation-data hidden">
    {% for organ in organisation %}
        <span class="" id="title_{{ organ.field_branch_id }}">{{ organ.title }}</span>
        <span class="" id="field_city_{{ organ.field_branch_id }}">{{ organ.field_city }}</span>
        <span class="" id="field_fax_{{ organ.field_branch_id }}">{{ organ.field_fax }}</span>
        <span class="" id="field_opening_hours_{{ organ.field_branch_id }}">{{ organ.field_opening_hours }}</span>
        <span class="" id="field_phone_{{ organ.field_branch_id }}">{{ organ.field_phone }}</span>
        <span class="" id="field_street_{{ organ.field_branch_id }}">{{ organ.field_street }}</span>
        <span class="" id="nid_{{ organ.field_branch_id }}">{{ organ.nid }}</span>
        <span class="" id="field_pa_{{ organ.field_branch_id }}">{{ organ.field_pa }}</span>
        <span class="" id="field_email_{{ organ.field_branch_id }}">{{ organ.field_email }}</span>
        <span class="" id="field_underside_{{ organ.field_branch_id }}">{{ organ.field_underside }}</span>

    {% endfor %}

  </div>
