{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'diagrampage',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes.addClass('author') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}
  <div class="row">
    <div class="hidden current-id">{{current_id}}</div>
    <div class="sidebar-menu col-md-3">
      {% if term_id is not empty %}
        <div class="bg-black">
          {% if term_id in ['12', '13'] %}
            {{ 'Nyheder ＆ presse'|t }}
          {% endif %}
          {% if term_id == 2 %}
            {{ 'Vidner, ofre ＆ sigtede'|t }}
          {% endif %}
          {% if term_id == 3 %}
            {{ 'Viden ＆ statistik'|t }}
          {% endif %}
          {% if term_id == 4 %}
            {{ 'Karriere'|t }}
          {% endif %}
          {% if term_id == 5 %}
            {{ 'Om os'|t }}
          {% endif %}
        </div>
      {% endif %}  
      {% if term_id == 12 %}
        {{ drupal_view('nyheder_presses') }}
      {% endif %}
      {% if term_id == 13 %}
        <div class="menu-sidebar-item active nyheder-type">
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </div>
      {% endif %}
      {% if term_id == 2 %}
        {{ drupal_view('vidner_ofre_sigtede') }}
      {% endif %}
      {% if term_id == 3 %}
        {{ drupal_view('viden_statistik') }}
      {% endif %}
      {% if term_id == 4 %}
        {{ drupal_view('karriere') }}
      {% endif %}
      {% if term_id == 5 %}
        {{ drupal_view('om_os') }}
      {% endif %}
    </div>
    <div{{ content_attributes.addClass('content col-md-9') }}>
        {% if term_id == 13 %}
          <div class="date-and-author-has-title-body">
            {{ drupal_view('date_and_author') }}
            {% if has_follow_twitter == true %}
              <div class="follow-twitter-button">
                <a href="https://twitter.com/{{follow_twitter_name}}" class="twitter-follow-button" data-show-count="false">Follow @{{follow_twitter_name}}</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            {% endif %}
            {% if has_follow_linkedin == true %}
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: da_DK</script>
                <script type="IN/FollowCompany" data-id="9436432"></script>
            {% endif %}  
          </div>
        {% endif %}
        <div class="middle-content content-node-{{current_id}}">
           <div class="middle-content-inner">
            <div class="bg-black field-title mt--20">
              {{ node.label }}
            </div>
            {% if term_id == 13 %}
              <div class="date-and-author-not-has-title-body">
              {{ drupal_view('date_and_author') }}
              </div>
            {% endif %}

            {% if has_follow_twitter == true %}
              <div class="follow-twitter-button">
                <a href="https://twitter.com/{{follow_twitter_name}}" class="twitter-follow-button" data-show-count="false">Follow @{{follow_twitter_name}}</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            {% endif %}
            {% if has_follow_linkedin == true %}
              <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: da_DK</script>
              <script type="IN/FollowCompany" data-id="9436432"></script>
            {% endif %}  

            <div class="organisation-data hidden">         
              {% for organ in organisation %}
                  <span class="" id="title_{{ organ.field_branch_id }}">{{ organ.title }}</span>                  
                  <span class="" id="field_city_{{ organ.field_branch_id }}">{{ organ.field_city }}</span>                  
                  <span class="" id="field_fax_{{ organ.field_branch_id }}">{{ organ.field_fax }}</span>                  
                  <span class="" id="field_opening_hours_{{ organ.field_branch_id }}">{{ organ.field_opening_hours }}</span>                  
                  <span class="" id="field_phone_{{ organ.field_branch_id }}">{{ organ.field_phone }}</span>                  
                  <span class="" id="field_street_{{ organ.field_branch_id }}">{{ organ.field_street }}</span>                  
                  <span class="" id="nid_{{ organ.field_branch_id }}">{{ organ.nid }}</span>                  
                  <span class="" id="field_pa_{{ organ.field_branch_id }}">{{ organ.field_pa }}</span>                  
                  <span class="" id="field_email_{{ organ.field_branch_id }}">{{ organ.field_email }}</span>                  
                     
              {% endfor %}

            </div>
            
            {{ content.body }}

            {% if has_share_twitter == true %}
              <div class="share-button">
                <a class="twitter-share-button"
                  href="https://twitter.com/intent/tweet?text={{ node.label }}">
                {{ 'Tweet'|t }}</a>
              </div>
            {% endif %}  
            
            {% if has_share_linkedin == true %}
              <div class="share-button linkedin-share-button">
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: da_DK</script>
                <script type="IN/Share" data-url="{{ current_url }}"></script>
              </div>
            {% endif %}  

            {% if social_share == 1 %}
              {{ content.field_social_share }}
            {% endif %}
          </div>
        <div>
        {% if term_id == 13 %}
          <div class="col-xs-12 col-sm-6 col-md-5">
            <div class="bg-black">{{ 'Seneste nyheder'|t }}</div>
              {{ drupal_view('latest_news') }}
              <p><a class="LatestNewsSearchNewsLinkButton" href="../node/2" id="ctl00_SPWebPartManager1_g_154c974f_a427_4d5a_908b_52fc5f9d5bb2_ctl00_ux_LatestNewsSearchNewsLinkButton">{{ 'Se alle nyheder'|t }}</a></p>
          </div>
        {% endif %}  
    </div>
  </div>

</article>
