{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
    {% block navbar %}
        {%
        set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
        ]
        %}
        <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
            {% if not navbar_attributes.hasClass(container) %}
            <div class="{{ container }}">
                {% endif %}
                <div class="navbar-header" term-id ={{term_id}}>
                    {{ page.navigation }}
                    {# .btn-navbar is used as the toggle for collapsed navbar content #}
                </div>

                {# Navigation (collapsible) #}
                {% if page.navigation %}
                    <div id="open-menu" class="menu-open">
                        <i class="fa fa-bars"></i>
                    </div>
                    <a class="logo navbar-btn pull-left logo-mobile" href="/da" title="Hjem" rel="home">
                        <img src="/sites/default/files/logo77ae.png" alt="Hjem">
                    </a>
                    <div id="navbar-collapse" class="navbar-collapse collapse" style="display:none;">
                        <div class="group-menu-mobile">
                            <ul class="nav menu">
                                <li>
                                    {% if is_front %}
                                        <a href="/{{current_language}}" class="acitve">{{ 'Forside'|t }}</a>
                                    {% else %}
                                        <a href="/{{current_language}}" class="acitve">{{ 'Forside'|t }}</a>
                                    {% endif %}
                                </li>
                                <li class="has-submenu">
                                    {% if current_id == 402 %}
                                        <a href="/{{current_language}}/node/402" class="active">{{ 'Nyheder ＆ presse'|t }}</a>
                                        <span id="icon-arrow"></span>
                                    {% else %}
                                        <a href="/{{current_language}}/node/402">{{ 'Nyheder ＆ presse'|t }}</a>
                                        <span id="icon-arrow"></span>
                                    {% endif %}
                                    {% if parent_menu_name == 'Nyheder ＆ presse' %}
                                    <div class="submenu" style="display:block;">
                                        {% else %}
                                        <div class="submenu" style="display:none;">
                                            {% endif %}
                                            {{ block_nyheder_presse_menu_left }}
                                        </div>
                                </li>
                                <li class="has-submenu">
                                    {% if current_id == 403 %}
                                        <a href="/{{current_language}}/node/403" class="active">{{ 'Vidner, ofre ＆ sigtede'|t }}</a>
                                        <span id="icon-arrow"></span>
                                    {% else %}
                                        <a href="/{{current_language}}/node/403">{{ 'Vidner, ofre ＆ sigtede'|t }}</a>
                                        <span id="icon-arrow"></span>
                                    {% endif %}
                                    {% if parent_menu_name == 'Vidner, ofre ＆ sigtede' %}
                                    <div class="submenu" style="display:block;">
                                        {% else %}
                                        <div class="submenu" style="display:none;">
                                            {% endif %}
                                            {{ block_vidner_ofre_sigtede_menu_left }}
                                        </div>
                                </li>
                                {% if current_language == 'da' %}
                                    <li class="has-submenu">
                                        {% if current_id == 404 %}
                                            <a href="/{{current_language}}/node/404" class="active">{{ 'Viden ＆ statistik'|t }}</a>
                                            <span id="icon-arrow"></span>
                                        {% else %}
                                            <a href="/{{current_language}}/node/404">{{ 'Viden ＆ statistik'|t }}</a>
                                            <span id="icon-arrow"></span>
                                        {% endif %}
                                        {% if parent_menu_name == 'Viden ＆ statistik' %}
                                        <div class="submenu" style="display:block;">
                                            {% else %}
                                            <div class="submenu" style="display:none;">
                                                {% endif %}
                                                {{ block_viden_statistik_menu_left }}
                                            </div>
                                    </li>
                                    <li class="has-submenu">
                                        {% if current_id == 405 %}
                                            <a href="/{{current_language}}/node/405" class="active">{{ 'Karriere'|t }}</a>
                                            <span id="icon-arrow"></span>
                                        {% else %}
                                            <a href="/{{current_language}}/node/405">{{ 'Karriere'|t }}</a>
                                            <span id="icon-arrow"></span>
                                        {% endif %}
                                        {% if parent_menu_name == 'Karriere' %}
                                        <div class="submenu" style="display:block;">
                                            {% else %}
                                            <div class="submenu" style="display:none;">
                                                {% endif %}
                                                {{ block_karriere_menu_left }}
                                            </div>
                                    </li>
                                {% endif %}
                                <li class="has-submenu">
                                    {% if current_id == 406 %}
                                        <a href="/{{current_language}}/node/406" class="active">{{ 'Om os'|t }}</a>
                                        <span id="icon-arrow"></span>
                                    {% else %}
                                        <a href="/{{current_language}}/node/406">{{ 'Om os'|t }}</a>
                                        <span id="icon-arrow"></span>
                                    {% endif %}
                                    {% if parent_menu_name == 'Om os'  %}
                                    <div class="submenu" style="display:block;">
                                        {% else %}
                                        <div class="submenu" style="display:none;">
                                            {% endif %}
                                            {{ block_om_os_menu_left }}
                                        </div>
                                </li>
                            </ul>
                            {{ drupal_block('languageswitcher') }}
                            {{ drupal_block('sociallink') }}
                        </div>
                        <div class="menu-close">
                            <i class="fa fa-close" aria-hidden="true"></i>
                        </div>

                    </div>

                {% endif %}

                {% if not navbar_attributes.hasClass(container) %}
            </div>
            {% endif %}
        </header>
    {% endblock %}
{% endif %}

{# Main #}
{% block main %}
    <div role="main" class="main-container container js-quickedit-main-content">
        <div class="row">

            {# Header #}
            {% if page.header %}
                {% block header %}
                    <div class="col-sm-12" role="heading">
                        {{ page.header }}
                    </div>
                {% endblock %}
            {% endif %}

            {# Sidebar First #}
            {% if page.sidebar_first %}
                {% block sidebar_first %}
                    <aside class="col-sm-3" role="complementary">
                        {{ page.sidebar_first }}
                    </aside>
                {% endblock %}
            {% endif %}

            {# Content #}
            {%
            set content_classes = [
            page.sidebar_first and page.sidebar_second ? 'col-sm-6',
            page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
            page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
            page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
            ]
            %}


            <section{{ content_attributes.addClass(content_classes) }}>

                {# Highlighted #}
                {% if page.highlighted %}
                    {% block highlighted %}
                        <div class="highlighted">{{ page.highlighted }}</div>
                    {% endblock %}
                {% endif %}

                {# Breadcrumbs #}
                {% if breadcrumb %}
                    {% block breadcrumb %}
                        {{ breadcrumb }}
                    {% endblock %}
                {% endif %}

                {# Action Links #}
                {% if action_links %}
                    {% block action_links %}
                        <ul class="action-links">{{ action_links }}</ul>
                    {% endblock %}
                {% endif %}

                {# Help #}
                {% if page.help %}
                    {% block help %}
                        {{ page.help }}
                    {% endblock %}
                {% endif %}

                {# Content #}
                {% block content %}
                    <a id="main-content"></a>
                    {{ page.content }}
                {% endblock %}
            </section>

            {# Sidebar Second #}
            {% if page.sidebar_second %}
                {% block sidebar_second %}
                    <aside class="col-sm-3" role="complementary">
                        {{ page.sidebar_second }}
                    </aside>
                {% endblock %}
            {% endif %}
        </div>
    </div>
{% endblock %}


<footer class="footer container-fluid" role="contentinfo">

        <div class="lagemy-footer">
            <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 fs-14 txt-center-max-768 no-hyperlink">
                {{ 'Rigsadvokaten   |  Frederiksholms Kanal 16  |  1220 København K  |   Telefon 72 68 90 00  |  Fax 72 68 90 04' |t}}
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 no-hyperlink txt-center-max-768 footerright">
                <a href="../node/175" class="fs-14 border-left-min-992-1 border-right-max-991-1">{{ 'Kontakt' |t }}</a>
                <a href="http://www.adgangforalle.dk/" class="fs-135 border-left-min-992-1 border-right-max-991-1">{{ 'Læs op' |t }}</a>
                <a href="../node/176" class="fs-14 border-left-min-992-1 border-right-max-991-1">{{ 'Privatlivspolitik' |t }}</a>
                <a href="../node/177" class="border-left-min-992-1 fs-14">{{ 'Cookiepolitik' |t }}</a>
            </div>
        </div>
        </div>
        {{ page.footer }}

</footer>


{# Highlighted #}
        {% if page.twitter_widget %}

            <div class="twitter_widget hide">{{ page.twitter_widget }}</div>

        {% endif %}