$fa-font-path:"../../../forside/node_modules/font-awesome/fonts";
@import "../../../forside/node_modules/font-awesome/scss/font-awesome";

@font-face {
  font-family: 'Tinos-Bold';
  src: url("../fonts/Tinos-Bold.eot");
  src: url("../fonts/Tinos-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Tinos-Bold.woff") format("woff"), url("../fonts/Tinos-Bold.ttf") format("truetype"), url("../fonts/Tinos-Bold.svg#arvoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tinos-BoldItalic';
  src: url("../fonts/Tinos-BoldItalic.eot");
  src: url("../fonts/Tinos-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Tinos-BoldItalic.woff") format("woff"), url("../fonts/Tinos-BoldItalic.ttf") format("truetype"), url("../fonts/Tinos-BoldItalic.svg#arvoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tinos-Italic';
  src: url("../fonts/Tinos-Italic.eot");
  src: url("../fonts/Tinos-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Tinos-Italic.woff") format("woff"), url("../fonts/Tinos-Italic.ttf") format("truetype"), url("../fonts/Tinos-Italic.svg#arvoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tinos-Regular';
  src: url("../fonts/Tinos-Regular.eot");
  src: url("../fonts/Tinos-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Tinos-Regular.woff") format("woff"), url("../fonts/Tinos-Regular.ttf") format("truetype"), url("../fonts/Tinos-Regular.svg#arvoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}