{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<section class="sidbar-right mt--20">
    <div{{attributes.addClass(classes)}}>
        <div class="sidebar-title">
            {% if content.field_link_url[0]['#url'] is not empty %}
                <a class="bg-black" href="{{ content.field_link_url[0]['#url'] }}">{{ content.field_title }}</a>
            {% else %}
                <div class="bg-black">{{ content.field_title }}</div>
            {% endif %}
        </div>
        {% if content.field_content|render|striptags|trim is not empty %}
        <div class="sidebar-content pt--20 pb--20">
            {{ content.field_content }}
        </div>
        {% endif %}
        {% if content.field_content|render|striptags|trim is not empty %}
            {% if content.field_paragraph_type|render|striptags|trim is not empty %}
                <div class="pb--20">
                    {{ content.field_paragraph_type }}
                </div>
            {% endif %}  
        {% else %}
            {% if content.field_paragraph_type|render|striptags|trim is not empty %}
                <div class="pt--20 pb--20">
                    {{ content.field_paragraph_type }}
                </div>
            {% endif %}  
        {% endif %}    
    </div>
</section>
