{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes, 'mt--20') }}>
    {% block content %}
    <div allowdelete="false" class="ms-WPBody noindex" haspers="false" id="WebPartWPQ4" style="width:100%;overflow:auto;" webpartid="9936b0ee-b968-46de-99ec-967ec4cf6f71">
      <div class="AnklDkLowHeaderBlock AnklWebpartManchet" id="ctl00_SPWebPartManager1_g_9936b0ee_b968_46de_99ec_967ec4cf6f71" style="width:100%;">
        <div class="bg-black">{{ faq_title }}</div>
        <ul style="position: relative;">
          {% for key, item in array_faq %}
            <li class="FaqItemLine" onclick="javascript:jQuery('#ctl00_SPWebPartManager1_g_9936b0ee_b968_46de_99ec_967ec4cf6f71_ctl00_ux_FaqContentControlRepeater_ctl01_ctl00_ux_FaqItemQuestion_{{target_id}}_{{key}}').toggleClass('FaqItemQuestionInverted');jQuery(this).toggleClass('FaqItemLineInverted');jQuery('#ctl00_SPWebPartManager1_g_9936b0ee_b968_46de_99ec_967ec4cf6f71_ctl00_ux_FaqContentControlRepeater_ctl01_ctl00_ux_FaqItemAnswerMainDiv_{{target_id}}_{{key}}').slideToggle('slow', function () { recalculateFrameHeight(); });" style="cursor:pointer;position:relative;">
              <div class="FaqItemQuestion" id="ctl00_SPWebPartManager1_g_9936b0ee_b968_46de_99ec_967ec4cf6f71_ctl00_ux_FaqContentControlRepeater_ctl01_ctl00_ux_FaqItemQuestion_{{target_id}}_{{key}}">{{ item['faq_title'] }}</div>
              <div class="FaqItemAnswerMainDiv" id="ctl00_SPWebPartManager1_g_9936b0ee_b968_46de_99ec_967ec4cf6f71_ctl00_ux_FaqContentControlRepeater_ctl01_ctl00_ux_FaqItemAnswerMainDiv_{{target_id}}_{{key}}" style="display:none; position:relative;">
                {{ content.field_faq_item[key] }}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
