{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if tab_title is not empty %}
        <div class="bg-black">{{ tab_title }}</div>
        <ul class="nav nav-tabs">
          {% for key, item in tab_name %}
            {% if key == 0 %}
              <li class="active"><a data-toggle="tab" href="#{{item|lower}}">{{item}}</a></li>
            {% else %}
              <li><a data-toggle="tab" href="#{{item|lower}}">{{item}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="tab-content">
          
          {% for k, content in tab_content %}
            {% if k == 0 %}
              <div class="tab-pane fade in active" id="{{content['tab_name']|lower}}">
            {% else %}
              <div class="tab-pane fade" id="{{content['tab_name']|lower}}">
            {% endif %}
                <div class="mt--30 mb--30">{{ content['tab_content']|raw}}</div>
              </div>
          {% endfor %}
          
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
