footer {
	padding-bottom: 0 !important;
	background-color: $white;
	border-radius: $white;
	margin-bottom: 10px!important; 
	&.container-fluid {
		text-align: left;
	    overflow-y: visible;
	    max-width: 1280px;
	    width: 100%;
	    margin: auto;
	    margin-bottom: 0!important;
	    line-height: 22px;
	}
	&.footer {
		border-top: 0;
		position: relative;
		overflow: hidden;
		@media (max-width: 767px) {
	    	overflow: none;
	    }
	}
	.lagemy-footer {
		background: #4c4c4c;
	    @media (max-width: 767px) {
	    	padding: 10px;
	    }
	    color: $white;
	    overflow: hidden;
	    font-family: "Tinos-Regular";
	    .navbar-left {
		    float: left!important;
		    margin-left: 5px;
		    li {
		    	margin: 3px 0;
		    	border-left: 1px solid $white;
		    	span {
		    		color: $white;
				    font-size: 15px;
				    font-style: normal;
				    font-weight: normal;
				    padding: 0 5px;
				    line-height: 16px;
				    &:hover {
				    	background: transparent;
				    	text-decoration: none;
				    }
		    	}
		    	&:first-child {
		    		border-left: 0;
		    	}
		    	@media (max-width: 767px) {
		    		float: left;
		    	}
		    }
		    @media (max-width: 767px) {
				max-width: 750px;
				display: block;
				margin: auto;
		    }
		}
		.navbar-right {
			@media (min-width: 768px) {
				padding-right: 25px;
				float: right!important;
			}
    		margin-right: -15px;
			li {
				border-left: 1px solid $white;
    			margin: 3px 0;
    			a {
		    		color: $white;
				    font-size: 15px;
				    font-style: normal;
				    font-weight: normal;
				    padding: 0 10px;
				    line-height: 16px;
				    &:hover {
				    	background: transparent;
				    	text-decoration: none;
				    }
		    	}
		    	@media (max-width: 767px) {
		    		float: left;
		    	}
			}
			@media (max-width: 767px) {
				display: block;
				margin: auto;
			}
		}
	}

	#block-cookiekontrol {
		.CookieAcceptImageDivClass {
		    background: transparent url(../img/CookieWideLine200c9b3.png) center right no-repeat;
		    font-family: 'Tinos-Regular', serif;
		    font-size: 16px;
		    font-weight: normal;
		    color: $black;
		    margin-left: 0px;
		    padding-left: 0px;
		    z-index: 2000;
		    display: none;
		    position: fixed;
		    right: 0px;
		    bottom: 0px;
		    height: 365px;
		    width: 293px;

		    .CookieAcceptDivClass {
			    font-size: 10px;
			    font-weight: normal;
			    color: Black;
			    margin-left: 0px;
			    padding-left: 0px;
			    display: block;
			    margin-bottom: 10px;
			    position: relative;
			    left: 30px;
			    top: 2px;
			    height: 130px;
			    width: 177px;
			    .CookieAcceptDivCloseButtonClass {
				    height: 21px;
				    position: relative;
				    float: right;
				    top: 20px;
				    margin-right: -70px;
				    cursor: pointer;
				}

				.CookieAcceptDivHeadlineClass {
				    position: relative;
				    left: 00px;
				    top: 15px;
				    font-size: 25px;
				    margin-bottom: 5px;
				    display: block;
				}
				.CookieAcceptDivBodyClass {
				    font-size: 14px;
				    position: relative;
				    left: 0px;
				    width: 220px;
				    top: 20px;
				    line-height: 16px;
				    font-weight: normal;
				    margin-bottom: 10px;
				    display: block;
				}

				a.CookieAcceptDivAnchorClass:link, a.CookieAcceptDivAnchorClass:active, a.CookieAcceptDivAnchorClass:visited, a.CookieAcceptDivAnchorClass {
				    display: inline-block;
				    background: transparent url(../img/pilA1c9b3.png) top right no-repeat;
				    position: relative;
				    top: 15px;
				    left: 0px;
				    padding-right: 12px;
				    font-family: 'Tinos-Italic', serif;
				    list-style-type: none;
				    text-decoration: none;
				    color: $black;
				    padding-bottom: 5px;
				}

				a.CookieAcceptDivAnchorClass:hover, a.CookieAcceptDivAnchorClass:hover {
				    background: transparent url(../img/pila1hoverc9b3.png) top right no-repeat;
				    position: relative;
				    top: 15px;
				    left: 0px;
				    color: #951b81;
				    padding-right: 12px;
				    text-decoration: none;
				}

				.CookieAcceptDivLinkClass {
				    font-family: 'Tinos-Italic', serif;
				    font-size: 18px;
				    font-weight: normal;
				    margin-bottom: 3px;
				    display: block;
				    line-height: 15px;
				}
			}
		}
	}
}
