header.navbar-default {
	background-color: $white;
	border: 0;
	padding: 0;
	margin-bottom: 0;
	border-radius: 0;
	&.container-fluid {
		text-align: left;
	    overflow-y: visible;
	    max-width: 1280px;
	    width: 100%;
	    margin: auto;
	    @media (max-width: 991px) {
	    	position: fixed;
		    background-color: #fff;
		    z-index: 999;
		    height: 88px;
	    }
	}
	.navbar-header {
		background: $color-1;
	    overflow: hidden;
	    margin: 10px 0 20px 0;
	    padding: 0;
	    height: 28px;
	    width: 100%;
		#block-forside-main-menu, #block-mainnavigationenglish{
			float: left;
			.menu.nav {
				li {
					float: left;
					border-left: 1px solid $white;
					a {
						color: $white;
					    font-size: 18px;
					    line-height: 28px;
					    padding: 0px 20px;
					    text-decoration: none;
					    background: $color-1;
					    @media screen and (max-width: 1258px) and (min-width: 992px) {
							padding: 0px 13px;
							font-size: 16px;
					    }
					    &.is-active {
						    color: $black;
						    background-color: $white;
						    &:hover {
						    	background-color: $white;
						    	color: $black;
						    }
					    }
					    &:hover {
					    	background: $color-2;
    						color: $white;
					    }
					}
					&:first-child {
						a {
							padding-left: 45px;
							background: url(../img/kronec9b3.png) no-repeat scroll 19px 3px $color-1;
							&:hover {
								background: url(../img/kronec9b3.png) no-repeat scroll 19px 3px $color-2;
							}
						}
						a.is-active {
							background-color: $white;

							 &:hover {
							 	background: url(../img/kronec9b3.png) no-repeat scroll 19px 3px $white;
							 }
						}
					}
					&.active {
						a {
							color: $black;
						    background-color: $white;
						    &:hover {
						    	background-color: $white;
						    	color: $black;
						    }
						}
					}
				}
			}
		}
		.block-search-form-block {

			@media(min-width: 1259px){
				float: right;
			    margin-right: 10px;
			    width: 20%;
			}
			@media(max-width: 1258px){
				float: right;
			    margin-right: 8px;
			    width: 15%;
			}
			@media(max-width: 991px){
				position: absolute;
				right: 15px;
				top: 38px;
				width: 220px;
			}
			#edit-keys--description {
				display: none;
			}
			form {
				.input-group {
					input {
					    font-size: 16px;
					    margin: 0;
					    padding: 0px 4px;
					    color: $color-6;
					    background: $color-4;
					    border-right: 1px solid $color-1;
					    height: 28px;
					    line-height: 28px;
					    overflow: hidden;
					    border: 0;
					    -webkit-border-radius: 0;
					    -moz-border-radius: 0;
					    -ms-border-radius: 0;
					    border-radius: 0;
					    vertical-align: initial;
					    @media(max-width: 991px){
							z-index: 99;
					    	opacity: 0;
							height: 38px;
						    background: white;
						    box-shadow: none;
						    transition: all 0.5s ease-in-out;
						    width: 200px;
						    position: relative;
    						top: -10px;
    						border: 1px solid $color-3;
    						border-radius: 3px;
    						right: -5px;
					    }
					}
					button {
						background: $color-4;
					    border: 0;
					    width: 28px;
					    height: 28px;
					    border-radius: 0;
    					margin-left: 1px;
    					span.glyphicon-search{
							color: $color-1;
							font-size: 22px;
							top: -2px;
    						right: 9px;
    					}
    					@media(max-width: 991px){ 
							background: transparent;
							span.glyphicon-search{
								color: $black;
								top: 2px;
							}
							top: -11px;
							position: absolute;
							right: 2px;
    						z-index: 9999;
    						display: none;
    					}
					}
					@media(max-width: 991px){ 
						.input-group-btn {
							font-size: 100%;
							z-index: 999;
							&.showsearchform:after {
								display: none;
							}
							&:after {
							    content: "\f002";
								font-family: FontAwesome;
								color: #000;
								position: absolute;
								right: 5px;
							    font-size: 23px;
							    top: -9px;
							    width: 22px;
							}
							/* Chrome 29+ */
							@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
								&:after {
									top: -8px;
								}
							}
						}
					}
				}
			}
		} 

		.language-switcher-language-url {
			float: right;
			@media(max-width: 991px){ 
				display: none;
			}
			.links {
				margin-bottom: 0;
				li {
					display: inline-block;
    				padding: 3px 5px 5px 10px;
					@media screen and (max-width: 1258px) and (min-width: 992px) {
						padding: 3px 5px 5px 5px;
					}
					a {
						display: block;
						padding: 0;
						color: $white;
						font-family: 'Tinos-Italic';
						font-weight: normal;
						font-size: 15px;
						&:hover {
							color: $color-2;
						}
					}
					&.is-active {
						display: none;
					}

				}
			}
		}
		#block-sociallink {
			float: right;
			width: 6%;
			.social {
				ul {
					li {
						display: inline-block;
						padding: 3px 5px 3px 10px;
    					width: 30px;
    					@media screen and (max-width: 1258px) and (min-width: 992px) {
    						width: 20px;
    						padding: 3px 5px;
    					}
						a {
							color: $white;
							// text-indent: -99999px;
							display: block;
							position: relative;
							padding-bottom: 0;
							&:before {
								text-indent: initial;
								position: absolute;
								top: 0;
								left: 0;
							}
							&:hover {
								color: $color-2;
							}
						}
						// &.twitter {
						// 	a {
						// 		&:before{
						// 			content: "\f099";
						// 			font-family: FontAwesome;
						// 		}
						// 	}
						// }
						// &.linkedin {
						// 	a {
						// 		&:before{
						// 			content: "\f0e1";
						// 			font-family: FontAwesome;
						// 		}
						// 	}
						// }
					}
				}
			}
			.contextual .trigger {
				right: -10px;
			}
		}
	}
	@media(min-width: 992px){
		#navbar-collapse {
			display: none!important;
		}
		.menu-open {
			display: none;
		}
	}

	@media(max-width: 991px){
		min-height: auto;
		.navbar-header {
			background: transparent;
			#block-forside-main-menu,#block-mainnavigationenglish {
				display: none!important;
			}
			height: 0;
    		margin: 0;
		}
		#navbar-collapse {
			.region-navigation {
				position: relative;
			}
			padding-right: 0;
			#block-forside-search {
				display: none;
			}
			border: 0;
			padding-left: 0;
		    background: $color-3;
			left: -296px;
			margin-left: 0;
			height: 100%!important;
			position: fixed;
			z-index: 999999999;
			transition: 0.3s;
    		top: 0;
    		padding-top: 40px;
    		width: 270px;
    		padding-bottom: 50px;
			.menu {
				margin: 0;
				li {
					width: 100%;
					.submenu {
						margin-left: 15px;
						.views-row {
							&:first-child {
								display: none;
							}
						}
					}
					&.has-submenu {
						#icon-arrow {
							cursor: pointer;
							&:before {
								content: "\f105";
								font-family: FontAwesome;
								position: absolute;
								color: #000;
								right: 0px;
								font-size: 18px;
								font-weight: 400;
								top: 0px;
								padding: 9px 0px 8px 0px;
								width: 20%;
								text-align: center;
						    }
						    
						}
						.open-submenu {
							&:before {
								-ms-transform: rotate(90deg); /* IE 9 */
							    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
							    transform: rotate(90deg);
							}
						}
					}
				}
				li a {
					color: $black;
				    font-weight: normal;
				    font-size: 15px;
				    position: relative;
				    padding: 10px 15px 10px 15px;
				    display: block;
				    font-family: Tinos-Regular,serif;
				    transition: all 0.5s ease-in-out;
				    width: 80%;
				    // &:hover {
				    // 	color: $white;
    				// 	background: $color-2;
				    // }
				    // &.active {
				    // 	color: $white;
				    // 	background: $color-2;
				    // 	&:before {
    				// 		color: $white;
    				// 	}
				    // }
				}
				> li > a {
					font-weight: bold;
				}
				li.has-submenu li a {
					font-weight: normal;
				}
			}
			.menu-close {
				cursor: pointer;
			    position: absolute;
			    right: 15px;
			    z-index: 99999;
			    top: 10px;
			    i.fa {
					color: #222;
					font-size: 23px;
			    }
			}
			.language-switcher-language-url {
				.links {
					li {
						display: block;
						position: relative;
						a {
							color: $black;
							font-family: Tinos-Bold;
							font-weight: 400 !important;
    						font-size: 15px;
    						padding: 10px 15px 0px 15px;
    						display: block;
    						font-family: 'Tinos-Italic';
							font-weight: bold;
							font-size: 15px;
							&:hover {
								color: $color-2;
							}
						}
						&.is-active {
							display: none;
						}
					}
				}
			}

			#block-sociallink {
				// position: absolute;
			 //    left: 0px;
			 //    bottom: -66px;
				.social {
					ul {
						li {
							position: relative;
							padding: 10px 15px 0px 15px;
							a {
								color: $black;
								display: block;
								position: relative;
								padding-bottom: 0;
								font-family: 'Tinos-Italic';
								font-weight: bold;
								font-size: 15px;
								&:hover {
									color: $color-2;
								}
							}
						}
					}
				}
			}
			.group-menu-mobile {
				overflow-y: auto;
				height: 100%;
				h2 {
					display: none;
				}
				.navbar-nav {
					@media (min-width: 768px) {
							float: none;
					}
					li {
						display: inline-block;
						&.active {
							a.is-active {
								background-color: $color-2;
								color: $white;
							}
						}
						a {
							word-wrap: break-word;
							white-space: initial;
							background-color: transparent;
							.caret {
								display: none;
							}
						}
						&.active.dropdown:not(.not-hover) {
			                a.is-active {
			                    background-color: $color-2;
			                    color: $white;
			                    background-image: none;
			                }
			                &.expanded {
			                    a.dropdown-toggle {
			                        background-color: $color-2;
			                        color: $white;
			                        background-image: none;
			                    }
			                }
			                ul.dropdown-menu {
			                    display: block;
			                    position: static;
			                    width: 100%;
			                    border: 0;
			                    padding: 0;
			                    box-shadow: none;
			                    border-radius: 0;
			                    padding-left: 40px;
			                    box-shadow: none;
			                    background-color: transparent;
			                    li {
			                        a {
			                            background-color: transparent;
			                            color: $black;
			                        }
			                        &.expanded {
			                            ul.dropdown-menu {
			                                display: none;
			                            }
			                            &.active {
			                                a.is-active {
			                                    background-color: $color-2;
			                                    color: $white;
			                                    background-image: none;
			                                }
			                                ul.dropdown-menu {
			                                    display: block;
			                                }
			                            }
			                        }
			                    }
			                }
			            }
			            &.active.dropdown.not-hover {
			                ul.dropdown-menu {
			                    display: block;
			                    position: static;
			                    width: 100%;
			                    border: 0;
			                    padding: 0;
			                    padding-left: 40px;
			                    box-shadow: none;
			                    background-color: transparent;
			                    li {
			                        &.expanded{
			                            ul.dropdown-menu {
			                                display: none;
			                            }
			                            &.active {
			                                ul.dropdown-menu {
			                                    display: block;
			                                }
			                            }
			                        }
			                    }
			                }
			            }
					}
				}
			}
		}
	}
	.menu-open {
		position: absolute;
	    top: 31px;
	    left: 30px;
	    cursor: pointer;
	    z-index: 100;
	    i {
		    width: 40px;
		    height: 30px;
		    font-size: 30px;
		    font-weight: normal;
		    text-align: center;
		    display: block;
		    color: $black;
	    }
	}
	.logo-mobile {
		display: none;
		@media(max-width: 991px){ 
			display: block;
			width: 50%;
		    position: absolute;
		    left: 25%;
		    top: 8px;
		    text-align: center;
		}

		img {
			@media(max-width: 991px){ 
				width: 40%;
				height: auto;
			}

			@media(max-width: 767px){ 
				width: 160px;
				height: auto;
			}
		}
	}
}


@media(max-width: 991px){ 
	body.user-logged-in{
		#navbar-collapse {
			top: 48px;
		}
	}	
}

