$transparents: transparent;
$white: #fff;
$black: #000;
$color-1: #757575;
$color-2: #440099;
$color-3: #ccc;
$color-4: #f4f4f4;
$color-5: #444;
$color-6: #666;
$body-background: #bdbebd;
$body-color: #676767;

