.mt {
  &--20 {
    margin-top: 20px;
  }
  &--10 {
    margin-top: 10px;
  }
}

.mb {
  &--20 {
    margin-bottom: 20px;
  }
  &--10 {
    margin-bottom: 10px;
  }
}

.pt {
  &--20 {
    padding-top: 20px;
  }
}

.pb {
  &--0 {
    padding-bottom: 0;
  }
  &--20 {
    padding-bottom: 20px;
  }
}

.pl {
  &--0 {
    padding-left: 0;
  }
  &-mx-768-0 {
    @media(max-width: 768px) {
      padding-left: 0;
    }
  }
  &--5 {
    padding-left: 5px;
  }
  &--30 {
    padding-left: 30px;
  }
  &--20 {
    padding-left: 20px;
  }
  &--xs--10 {
    @media(max-width: 575px) {
      padding-left: 15px;
    }
  }
  &--xs--15 {
    @media(max-width: 575px) {
      padding-left: 15px;
    }
  }
  &--sm--15 {
    @media(max-width: 767px) {
      padding-left: 15px;
    }
  }
  &--lg--15 {
    @media(max-width: 991px) {
      padding-left: 15px;
    }
  }
}

.pr {
  &--0 {
    padding-right: 0;
  }
  &-mx-768-0 {
    @media(max-width: 768px) {
      padding-right: 0;
    }
  }
  &--5 {
    padding-right: 5px;
  }

  &--20 {
    padding-right: 20px;
  }
  
  &--xs--15 {
    @media(max-width: 575px) {
      padding-right: 15px;
    }
  }
  &--sm--15 {
    @media(max-width: 767px) {
      padding-right: 15px;
    }
  }
  &--lg--15 {
    @media(max-width: 991px) {
      padding-right: 15px;
    }
  }
}