.node-forsite-article-edit-form input.form-time, .node-forsite-article-form input.form-time,
.node-forsite-article-edit-form .field--name-field-year, .node-forsite-article-form .field--name-field-year,
.node-forsite-article-edit-form #edit-field-don-t-show-this-post-in-en-wrapper,.node-forsite-article-form #edit-field-don-t-show-this-post-in-en-wrapper,
.node-forsite-article-edit-form .field--name-field-categories, .node-forsite-article-form .field--name-field-categories,
.node-forsite-article-edit-form .field--name-field-page-parent, .node-forsite-article-form .field--name-field-page-parent{
  display: none;
}

.field--name-body #body-values tbody .draggable:not(:first-child), .field--name-body #body-values tbody .draggable.odd td.field-multiple-drag,
.field--name-body #edit-body-add-more,.field--name-body .tabledrag-toggle-weight-wrapper{
	display: none;
}