%clearfix {
	&:before, &:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}
%transition-default {
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@mixin border-radius($size: 3px) {
	border-radius: $size;
	-webkit-border-radius: $size;
	-ms-border-radius: $size;
}
@mixin transform($value) {
	transform: $value;
	-webkit-transform: $value;
	-ms-transform: $value;
}
@mixin transition($value) {
	transition: $value;
	-webkit-transition: $value;
	-ms-transition: $value;
}
@mixin animation( $val ) {
	animation: $val;
    -webkit-animation: $val;
    -ms-animation: $val;
}
@mixin box-sizing($value) {
	box-sizing: $value;
	-webkit-box-sizing: $value;
	-ms-box-sizing: $value;
}
@mixin box-shadow($value...) {
	box-shadow: $value;
	-webkit-box-shadow: $value;
	-ms-box-shadow: $value;
}
@mixin linear-gradient( $bgcolor, $value... ) {
	background: $bgcolor; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($value); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($value); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($value); /* For Firefox 3.6 to 15 */
    background: linear-gradient($value); /* Standard syntax */
}
// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
  	  -ms-flex: $values;
  	      flex: $values;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
     -moz-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
     -moz-box-ordinal-group: $val;     
  	     -ms-flex-order: $val;     
  	      -webkit-order: $val;  
  		      order: $val;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number> 
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}
body {
    font-family: 'Tinos-Regular';
    background-color: $body-background;
    margin-top: 0;
    color: $body-color;
    @media (max-width: 991px) {
        background-color: $color-3;
    }
}

a {
    margin-top: 0px;
    font-family: 'Tinos-Regular', serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    padding-bottom: 25px;
    //-moz-transition: all 0.5s ease-in-out;
    //-o-transition: all 0.5s ease-in-out;
    //-webkit-transition: all 0.5s ease-in-out;
    //-ms-transition: all 0.5s ease-in-out;
    //transition: all 0.5s ease-in-out;
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
      color: #440099;
    }
    &:focus {
      text-decoration: none;
    }
  &.fs-14 {
    font-size: 14px;
  }
}

p {
    font-size: 16px;
    line-height: 22px;
    color: $black;
}

h1, h2, h3 {
    color: black;
}

ul {
    padding: 0;    padding-left: 40px;
}
ul.links, ul.social-link {padding-left: 0; }
//ul li {
//  list-style: none;
//}
li.FaqItemLine  {
    list-style: none;
}
.FaqContentHeader + ul {
  padding-left: 20px;
  margin-top: 10px;
}
.FaqItemAnswerMainDiv { padding-left: 30px; }
.anklagemyndigheden-Style-link {display: inline}
.pager__item--first, .pager__item--first span,.pager__item--last, .pager__item--last span {
  display: none;
}
.mejs__container video {top: 10px}
@media (max-width: 991px ) {
  .img-responsive {
    width: 100%
  }
}
@media (min-width: 481px) and (max-width: 991px ) {
  .col-xs-12 {width: 50%;}
}
@media screen and (max-width: 480px ) {
  .col-xs-12.no-padding-left {
    padding-left: 0;
    padding-right: 0
  }
  .col-xs-12.no-padding-right {
    padding-left: 0;
    padding-right: 0
  }
}
@media (min-width: 667px) and (max-width: 991px ) {
  .no-padding-left {
    padding-right: 8px;
  }
  .no-padding-right {
    padding-left: 8px;
  }
}
article.page .field--name-body a{
    color: black;
    font-family: 'Tinos-Regular';
    font-size: 16px;
    //text-decoration: underline;
    }
article.page .field--name-body a:hover {
  color: #440099;
  font-family: 'Tinos-Regular';
  font-size: 16px;
}
article.page .field--name-body p {
      margin: 0 0 1em 0;
}

#imgRetslokaleDiv a {
    text-decoration: none;
    padding: 0;
    display: block;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
#imgRetslokaleDiv a:hover {
    color: #fff
}
.felt {
  MARGIN-BOTTOM: auto; HEIGHT: 30px; WIDTH: 191px; POSITION: relative; COLOR: #000000; MARGIN-TOP: auto; DISPLAY: inline-block; BACKGROUND-COLOR: #ffffff
}
.felt:hover {
  CURSOR: pointer; COLOR: #ffffff; BACKGROUND-COLOR: #440099
}
#imgRetslokaleDiv .felt p {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
#imgRetslokaleDiv .felt:hover a {
    color: #fff
}
P.anklagemyndigheden-Element-P-2-Badge {
  FONT-SIZE: 16px; FONT-FAMILY: "Tinos-Regular", serif; FONT-WEIGHT: bold; PADDING-LEFT: 34px; MARGIN-TOP: 2px; LINE-HEIGHT: 22px
}
.pil {
	HEIGHT: 30px; 
	WIDTH: 26px;
	FLOAT: left; 
	BACKGROUND-COLOR: #440099;
	position: relative;
	img {
		position: absolute;
		left: 0;
		right: 0;
		top:0;
		bottom: 0;
		margin: auto;
	}
}
#imgRetslokaleDiv {
  HEIGHT: 485px;
    WIDTH: 100%;
    BACKGROUND-IMAGE: url(/sites/default/files/inline-images/Retslokale.png?rev=201602041000);
    DISPLAY: block;
    background-size: contain;
}
#divProt {
  LEFT: 13px; TOP: 31px
}
#divDommerne {
  LEFT: 39px; TOP: 24px
}
#divAnklageren {
  LEFT: 49px; TOP: 52px
}
#divForsvareren {
    LEFT: 93px;
    TOP: 106px;
}
#divBistandsadvokaten {
    LEFT: 288px;
    TOP: 85px;
}
#divTiltalte {
    LEFT: -157px;
    TOP: 162px;
}
#divTolken {
    LEFT: -19px;
    TOP: 209px;
}
#divTilhoererne {
    LEFT: 473px;
    TOP: 323px;
}
#divVidnet {
    LEFT: 309px;
    TOP: 152px;
}
#divOfferet {
    LEFT: 503px;
    TOP: 119px;
}
body {
    &.user-logged-in {
        .main-container {
            .region-header {
                .logo {
                    @media (max-width: 991px) {
                        top: 38px;
                    }
                }
            }
        }
    }
    &:not(.user-logged-in) {
        .main-container {
            .region-header {
                .logo {
                    @media (max-width: 991px) {
                        top: -9px;
                    }
                }
            }
        }
    }
}

.main-container {
    text-align: left;
    //overflow-x: hidden;
    //overflow-y: visible;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    background-color: $white;
    border-radius: 0;
    @media (max-width: 991px) {
        padding-top: 68px;
    }
    .name.navbar-brand {
        display: none;
    }
    .region-header {
        text-align: center;
        .logo {
            float: none !important;
            img {
                @media(max-width: 991px){
                    width: 38%;
                    height: auto;
                    margin-top: 20px;
                }

                @media(max-width: 767px){
                    width: 79%;
                    height: auto;
                    margin-top: 20px;
                }

            }
            @media (max-width: 991px) {
                position: fixed;
                left: 25%;
                z-index: 999;
                width: 50%;
                display: none;
            }
        }
    }
    .FrontPageColumnOne, .FrontPageColumnTwo {
        vertical-align: top;
        display: inline-block;
        margin-top: 10px;
        @media (min-width: 992px) {
            width: 33%;
            float: left;
            padding: 0 10px;
        }
        @media (max-width: 991px) {
            width: 50%;
            float: left;
            padding: 0 10px;
        }
    }
    .FrontPageColumnThree, .FrontPageColumnFour {
        vertical-align: top;
        display: inline-block;
        margin-right: auto;
        margin-top: 10px;
        @media (min-width: 992px) {
            width: 17%;
            float: left;
            padding: 0 10px;
        }
        @media (max-width: 991px) {
            width: 25%;
            float: left;
            padding: 0 10px;
        }
    }
    h1.page-header {
        display: none;
    }
}

.path-frontpage {
    .FrontPageColumnOne, .FrontPageColumnTwo, .FrontPageColumnThree, .FrontPageColumnFour {
        img {
            width: 100%;
            height: auto;
        }
    }
    .ContentContainer,.main-container {
        text-align: left;
        overflow-x: hidden;
        overflow-y: visible;
        max-width: 1280px;
        width: 100%;
        margin: auto;
        .MainColumnContainer {
            width: 100%;
            height: 100%;
            background: white;
            overflow-x: hidden;
            overflow-y: visible;
            padding: 0 10px;
            margin-top: 10px;
        }
    }
}

.mellemforsider {
    .ContentContainer,.main-container {
        text-align: left;
        overflow-x: hidden;
        overflow-y: visible;
        max-width: 1280px;
        width: 100%;
        margin: auto;
        .MainColumnContainer {
            width: 100%;
            height: 100%;
            background: white;
            overflow-x: hidden;
            overflow-y: visible;
            padding: 0 10px;
            margin-top: 10px;
            .column {
                .paragraph {
                    margin-bottom: 15px;
                    &--type--title-black-box {
                        margin-bottom: 0;
                    }
                    &--type--new-feed-for-home-page{
                        margin-top: 30px;
                        padding-top: 30px;
                    }
                }
            }
        }
    }
}

.bg-black, .bg-black a, .sidebar-menu h2{
    background: $black;
    border-bottom: 2px solid $white;
    color: $white;
    overflow: hidden;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    min-height: 40px;
    padding-top: 25px;
    line-height: 40px;
    margin-bottom: 0;
    display: block;
    &:hover {
        text-decoration: none;
        color: $white;
    }
}

.sidebar-menu h2 {
    font-size: 30px!important;
}

.bg-black a{
    border-bottom: 0;
    padding-top: 0;
}

h2.heading-large, a.heading-large {
    font-family: 'Tinos-Regular';
    font-weight: normal;
    background: $black;
    border-bottom: 2px solid $white;
    color: $white;
    overflow: hidden;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 36px;
    min-height: 40px;
    padding-top: 25px;
    line-height: 40px;
    margin-bottom: 0;
    display: block;
    &:hover {
        text-decoration: none;
        color: $white;
    }
}

.heading-between {
    font-family: 'Tinos-Regular';
    font-weight: normal;
    font-style: normal;
    color: $black;
    font-size: 30px;
}

.heading-small {
    font-family: 'Tinos-Regular';
    font-weight: normal;
    font-style: normal;
    color: $black;
    font-size: 25px;
}

.manchet {
    font-family: 'Tinos-Bold';
    color: $black;
    font-size: 18px;
    line-height: 22px;
}
.brodtekst {
    font-family: 'Tinos-Regular';
    color: $black;
    font-size: 16px;
    line-height: 22px;
}
.billedtekst, figcaption {
    font-family: 'Tinos-Italic'!important;
    color: $black;
    font-size: 15px!important;
}
.bg-purple {
    color: $white;
    background: $color-2;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    text-transform: capitalize;
    margin-top: 2px;
    margin-bottom: 10px;
}
.link-title {
    font-family: 'Tinos-Italic';
    font-size: 30px;
    display: block;
    margin-top: 15px;
    line-height: 35px;
    color: $black;
    padding-bottom: 0;
    text-decoration: none;
    position: relative;
    &:hover {
        color: $color-2;
        text-decoration: none;
    }
}

hr {
    border-color: $black;
}

.FrontPageColumnOne hr {
    display: block!important;
    border-color: gray;
    margin: 30px 0;
}

.LatestNewsFrontpageListItem {
    font-family: 'Tinos-Regular', serif;
    font-size: 16px;
    font-weight: normal;
    background: $white;
    color: $black;
    line-height: 28px;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}


a.LatestNewsFrontpageListItemAnchor{
    background: transparent url(../img/pilA1c9b3.png) right no-repeat;
    color: Black;
    font-family: 'Tinos-Regular', serif;
    font-size: 18px;
    font-weight: normal;
    list-style-type: none;
    text-decoration: none;
    padding-bottom: 0;
    &:hover {
        background: transparent url(../img/pila1hoverc9b3.png) right no-repeat;
        color: $color-2;
        list-style-type: none;
    }
}

.LatestNewsFrontpageItemPageName {
    font-family: 'Tinos-Italic', serif;
    font-size: 18px;
    padding-right: 10px;
    display: inline;
}

.LatestNewsFrontpageItemDate {
    font-family: 'Tinos-Regular', serif;
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 5px;
    padding-top: 8px;
}

.LatestNewsFrontpageItemTeaserText {
    margin-top: 0px;
    font-family: 'Tinos-Regular', serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    padding-bottom: 25px;
}

a.anklagemyndigheden-Element-A-1 {
    font-family: 'Tinos-Regular', serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    color: Black;
    background: transparent url(../img/pilA1c9b3.png) center right no-repeat;
    padding-right: 10px;
    padding-bottom: 0;
    &:hover {
        background: transparent url(../img/pila1hoverc9b3.png) center right no-repeat;
        color: $color-2;
        padding-right: 10px;
    }
}

a.anklagemyndigheden-Element-A-4 {
    font-family: 'Tinos-Italic';
    font-weight: normal;
    font-size: 30px !Important;
    text-decoration: none !Important;
    line-height: normal;
    color: Black;
    background: transparent url(../img/pilA4c9b3.png) center right no-repeat;
    padding-right: 10px;
    padding-bottom: 5px;
    &:hover {
        background: transparent url(../img/pila4hoverc9b3.png) center right no-repeat;
        color: $color-2;
        padding-right: 10px;
    }
}

span {
    display: block;
}

p.anklagemyndigheden-Element-P-2 {
    margin-bottom: 15px;
    a {
        color: $black;
    }
}

a.anklagemyndigheden-Element-A-2 {
    font-family: 'Tinos-Italic', serif;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: Black;
    background: transparent url(../img/pilA1c9b3.png) center right no-repeat;
    padding-right: 10px;
    padding-bottom: 0;
    line-height: normal;
    &:hover {
        background: transparent url(../img/pila1hoverc9b3.png) center right no-repeat;
        color: $color-2;
        padding-right: 10px;
    }
}

a.anklagemyndigheden-Element-A-3 {
    font-family: 'Tinos-Italic', serif;
    font-weight: normal;
    font-size: 25px;
    line-height: normal;
    color: Black;
    background: transparent url(../img/pilA1c9b3.png) center right no-repeat;
    padding-right: 10px;
    padding-bottom: 0;
    line-height: normal;
    &:hover {
        background: transparent url(../img/pila1hoverc9b3.png) center right no-repeat;
        color: $color-2;
        padding-right: 10px;
    }
}

.FrontPageColumnTwo, .FrontPageColumnThree, .FrontPageColumnFour {
    .block {
        margin-bottom: 15px;
    }
}

.VidensbaseFrontPageSearchTextboxDiv {
    width: 100%;
    position: relative;
}

.VidensbaseFrontpageSearchBar {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 2px 0px 2px 2px;
    color: $color-6;
    background: $color-4;
    border: 1px solid $white;
    height: 30px;
    line-height: 28px;
    overflow: hidden;
    width: 190px;
}

a.VidensbaseFrontpageSearchButton:link, a.VidensbaseFrontpageSearchButton:visited, a.VidensbaseFrontpageSearchButton:active {
    font-family: 'Tinos-Italic', Serif;
    padding: 2px 10px 1px 5px !important;
    background: black;
    color: white;
    font-size: 18px;
    text-align: right;
    float: right;
    z-index: 999999;
    position: absolute;
    right: 0;
    top: 1px;
}

.FrontPageColumnThree {
    a.VidensbaseFrontpageSearchButton {
        height: 28px;
    }
    #block-vidensbasen {
        .VidensbaseFrontPageSearchTextboxDiv {
            margin-bottom: 20px;
        }
        .anklagemyndigheden-Element-A-2 {
            line-height: 25px;
        }
    }
}

a.VidensbaseFrontpageSearchButton:hover {
    background: $color-2 !important;
    color: white !important;
    font-family: 'Tinos-Italic' !Important;

}

.FrontPageColumnFour {
    .anklagemyndigheden-Element-A-2 {
        line-height: 25px;
    }
}

.socialfeed {
    border: 1px solid #dddddd;
    overflow: hidden;
}


.sidebar-menu {
    margin-top: 20px;
    padding: 0 13px 0 20px;
    .bg-black {
        font-size: 30px!important;
    }
    h2 {
        margin-top: 0;
    }
    .navbar-nav {
        width: 100%;
        overflow: hidden;
        > li {
            float: none;
            display: inline-block;
            width: 100%;
            a {
                padding: 5px 10px;
                width: 100%;
                display: block;
                color: $black;
                background: url(../img/pilA1c9b3.png) 0 7px no-repeat;
                transition: none;
                word-wrap: break-word;
                white-space: initial;
                &:hover {
                    background-color: $color-2;
                    color: $white;
                    background-image: none;
                }
                .caret {
                    display: none;
                }
                &.is-active {
                    background-color: $black;
                    color: $white;
                    background-image: none;
                }

            }
            &.active.dropdown:not(.not-hover) {
                a.is-active {
                    background-color: $black;
                    color: $white;
                    background-image: none;
                }
                &.expanded {
                    a.dropdown-toggle {
                        background-color: $black;
                        color: $white;
                        background-image: none;
                    }
                }
                ul.dropdown-menu {
                    display: block;
                    position: static;
                    width: 100%;
                    border: 0;
                    padding: 0;
                    box-shadow: none;
                    border-radius: 0;
                    padding-left: 40px;
                    box-shadow: none;
                    li {
                        a {
                            background-color: $white;
                            color: $black;
                            &:hover {
                                background-color: $color-2;
                                color: $white;
                                background-image: none;
                            }
                        }
                        &.expanded {
                            ul.dropdown-menu {
                                display: none;
                            }
                            &.active {
                                a.is-active {
                                    background-color: $black;
                                    color: $white;
                                    background-image: none;
                                }
                                ul.dropdown-menu {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            &.active.dropdown.not-hover {
                ul.dropdown-menu {
                    display: block;
                    position: static;
                    width: 100%;
                    border: 0;
                    padding: 0;
                    padding-left: 40px;
                    box-shadow: none;
                    li {
                        &.expanded{
                            ul.dropdown-menu {
                                display: none;
                            }
                            &.active {
                                ul.dropdown-menu {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.content-nyheder-top {
    background: url(../img/anklager-landsret-laeser.jpg) white no-repeat left 28px;
    width: 100%;
    min-height: 384px;
}

.content {
    padding: 0;
    .field--name-body{
        padding: 0
    }
    .field--name-field-sidebar-content {
        padding: 0 20px 0 13px;
    }
    .field--name-body,.field--name-field-sidebar-content {
        margin-top: 20px;
    }
}

h2.anklagemyndigheden-Element-H2 {
    font-weight: normal;
    font-size: 30px;
    line-height: normal;
    color: $black;
    margin: 5px 0px 0px 0px;
    @media(max-width: 575px) {
        font-size: 22px;
    }
}
div.anklagemyndigheden-Element-div-4 {
  -ms-name: "Billede tekst";
  font-family: 'Tinos-Italic', serif;
  font-weight: normal;
  /* font-style: italic; */
  font-size: 15px;
  line-height: normal;
  color: Black;
}
.content-top p, p.anklagemyndigheden-Element-P-2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $black;
    margin-top: 2px;
}

.column {
    .content-item {
        margin: 10px 0;
        display: inline-block;
        width: 100%;
    }
}

.LatestNewsItemDate {
    background: $white;
    color: $black;
    font-size: 15px;
    font-weight: normal;
    line-height: 16px;
    padding-bottom: 5px;
}

.LatestNewsItemPageName {
    color: $black;
    padding-bottom: 10px;
}

a.LatestNewsListItemAnchor:link, a.LatestNewsListItemAnchor:active, a.LatestNewsListItemAnchor:visited {
    background: transparent url(../img/pilA1c9b3.png) center right no-repeat;
    color: $black;
    font-family: 'Tinos-Italic', serif;
    font-size: 18px;
    font-weight: normal;
    list-style-type: none;
    padding-right: 10px;
    margin-bottom: 15px;
    padding-bottom: 0;
}

a.LatestNewsListItemAnchor:hover {
    background: transparent url(../img/pila1hoverc9b3.png) center right no-repeat;
    color: $color-2;
    padding-right: 10px;
    text-decoration: none;
}

a.LatestNewsSearchNewsLinkButton:link, a.LatestNewsSearchNewsLinkButton:visited, a.LatestNewsSearchNewsLinkButton:active {
    color: $black;
    font-family: 'Tinos-Italic';
    font-size: 16px;
    font-weight: bold;
    background: transparent url(../img/pilA1c9b3.png) right no-repeat;
    padding-right: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    padding-bottom: 0
}

a.LatestNewsSearchNewsLinkButton:hover {
    background: transparent url(../img/pila1hoverc9b3.png) center right no-repeat;
    color: $color-2;
    padding-right: 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

.field--name-field-sidebar-content {
    p {
        margin: 15px 0 0;
        a.anklagemyndigheden-Element-A-2 {
            line-height: 25px;
        }
    }
 }

 .hidden {
    display: none;
 }

 .menu-sidebar-item {
    a {
        padding: 5px 10px;
        width: 100%;
        display: block;
        color: $black;
        background: transparent url(../img/pilA1c9b3.png) left no-repeat;
        background-position: 0px 7px;
        transition: none;
        &:hover {
            background-color: $color-2;
            color: $white;
            background-image: none;
        }
        @media(max-width: 991px){
            background: none;
        }
    }
    &.active {
        a {
            background-image: none;
            background-color: $black;
            color: $white;
            @media(max-width: 991px){
                background-color: $color-2;
                color: $white!important;
                &:before {
                    color: $white!important;
                }
            }
        }
    }
 }

.sidebar-menu {
    .view {
        .views-row {
            &:first-child {
                display: none;
            }
        }
     }
    display: block;
    @media(max-width: 991px){
        display: none;
    }
}


 .field--name-field-sidebar-content {
    .content-item {
        &:first-child {
            margin-top: 0;
        }
    }
 }

 h3.anklagemyndigheden-Element-H3 {
    font-weight: normal;
    font-size: 25px;
    line-height: normal;
    color: $black;
}
.nav > li > a:hover, .nav > li > a:focus {background: none}
.mpublication a img {
  width: 18%;
}
.book {
    h3.anklagemyndigheden-Element-H3 {
        margin-bottom: 30px;
    }
    .book-name {
        display: inline-grid;
        vertical-align: middle;
        margin-left: 30px;
        @media(max-width: 420px){
            width: 50%;
        }
    }
    .anklagemyndigheden-Style-FloatLeft {
        margin-bottom: 20px;
        float: left;
    }
}

div.menu-sidebar-item:not(.not-child) {
    display: none;
}
div.menu-sidebar-item {
    &.level1 {
        margin-left: 40px;
    }
    &.level2 {
        margin-left: 80px;
    }
}

.has-parent {
    display: block !important;
}

.anklagemyndigheden-Element-H2 {
    font-family: 'Tinos-Regular', serif;
    font-weight: normal;
    font-size: 30px;
    line-height: normal;
    color: $black;
    margin: 5px 0px 0px 0px;
}

.anklagemyndigheden-Element-P-2-like label {
    font-family: 'Tinos-Regular', serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $black;
    margin-top: 2px;
    margin-left: 5px;
}

label.anklagemyndigheden-Element-P-2-like {
    font-family: 'Tinos-Regular', serif;
    font-weight: normal;
    font-size: 16px;
}

input.anklagemyndigheden-Element-P-2-like {
    font-family: 'Tinos-Regular', serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $black;
    margin-top: 2px;
    margin-left: 5px;
}

.NewsSubscriberCompanyCreateButtonDiv, .NewsSubscriberCompanyDeleteButtonDiv {
    width: 600px;
    height: 20px;
    white-space: normal;
    line-height: 20px;
    padding-top: 15px;
    display: inline-block;
    margin-bottom: 5px;
}

.NewsSubscriberCompanyCreateButtonInnerDiv {
    float: right;
    display: block;
    text-align: right;
}

a.NewsSubscriberCompanyCreateButtonLinkButton:link, a.NewsSubscriberCompanyCreateButtonLinkButton:visited, a.NewsSubscriberCompanyCreateButtonLinkButton:active {
    font-family: 'Tinos-Italic', Serif;
    padding: 5px 10px 5px 5px;
    line-height: 20px;
    background: $black;
    color: $white;
    font-size: 18px;
    text-align: right;
}

a.NewsSubscriberCompanyCreateButtonLinkButton:hover {
    background: $color-2 !important;
    color: $white !important;
    font-family: 'Tinos-Italic' !Important;
}

.well {
    display: inline-block;
}

p.anklagemyndigheden-Element-P-2 a:link, p.anklagemyndigheden-Element-P-2 a:visited {
    color: $black;
    font-family: 'Tinos-Regular';
    font-size: 16px;
    text-decoration: underline;
    &:hover {
        color: $color-2;
    }
}

.FaqItemLine.FaqItemLineInverted {
    .FaqItemAnswerMainDiv {
      display: block;
      padding-top: 25px;
      padding-bottom: 25px;
      p {
        line-height: 22px;
      }
    }
}

.FaqItemLine:not(.FaqItemLineInverted) {
    .FaqItemAnswerMainDiv {
        display: none;
    }
}

.FaqItemQuestion, .FaqItemQuestion:link, .FaqItemQuestion:visited {
    font-family: 'Tinos-Italic', Serif;
    width: 100%;
    background: $white;
    color: $black;
    padding-top: 8px;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    list-style-type: none;
    background: transparent url(../img/pil_sortc9b3.png) center right no-repeat;
    background-position: 0px 14px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.FaqItemQuestion:hover {
    color: $white !important;
    background: $color-2 !important;
}

.FaqItemQuestionInverted {
    background: $black;
    color: $white;
}

.anklagemyndigheden-Style-link, .anklagemyndigheden-Style-link a {
    color: $black;
    font-family: 'Tinos-Regular', serif;
    font-size: 16px;
    text-decoration: underline;
    &:hover {
        color: $color-2;
    }
}

.menu-sidebar-item.nyheder-type {
    display: block !important;
}

.NewsManchetLine1 {
    padding-top: 50px;
    .NewsDate {
        display: none;
    }
}

.NewsManchetLine2 {
    .NewsByline {
        display: none;
    }
}

.NewsDate {
    font-family: 'Tinos-Regular', serif;
    font-size: 15px;
    font-weight: normal;
    background: White;
    color: $black;
    display: inline-block;
}

.NewsTools {
    float: right;
    margin-right: 5px;
}

a.MailThisPage, a.MailThisPage:link, a.MailThisPage:visited, a.MailThisPage:active {
    padding-left: 23px;
    font-family: 'Tinos-Regular', serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: black !important;
    background: url(../img/mailto-icon.jpg) no-repeat white;
    padding-bottom: 2px;
    &:hover {
        color: $color-2;
    }
}

a.PrintThisPage, a.PrintThisPage:link, a.PrintThisPage:visited, a.PrintThisPage:active {
    padding-left: 23px;
    font-family: 'Tinos-Regular', serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    color: black !important;
    background: url(../img/print-icon.jpg) no-repeat $white;
    padding-bottom: 2px;
    &:hover {
        color: $color-2;
    }
}

.NewsByline {
    font-family: 'Tinos-Regular', serif;
    font-size: 15px;
    font-weight: normal;
    background: $white;
    color: $black;
}

p.anklagemyndigheden-Element-P-1 {
    font-family: 'Tinos-Regular', serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $black;
    margin: 15px 0;
}

.LatestNewsResultList {
    margin-top: 10px;
}

.SearchNewsHeadline {
    margin-top: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid $black;

    .SearchNewsYearLabel {
        font-family: 'Tinos-Regular', serif;
        font-size: 16px;
        font-weight: normal;
        background: $white;
        color: $black;
        line-height: 28px;
        padding-left: 3px;
        padding-right: 5px;
        display: inline-block;
    }

    .SearchNewsYearDropDown {
        font-family: 'Tinos-Regular', serif;
        font-size: 16px;
        font-weight: normal;
        background: $white;
        color: Black;
        line-height: 28px;
    }
}

.searchNewsBtn {
    background: $color-4;
    float: right;
    &:hover {
        color: $color-2;
    }
}

.searchNewsTextBox {
    margin: 0;
    padding: 0px 4px;
    color: $color-6;
    background: $color-4;
    border: none;
    border-right: 1px solid $color-1;
    font-family: 'Tinos-Regular', serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    overflow: hidden;
    height: 28px;
    float: right;
}

.searchNewsTextLabel {
    color: $black;
    padding-right: 5px;
    font-family: 'Tinos-Regular', serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    overflow: hidden;
    height: 28px;
    float: right;
}
.view-list-hyheder-article-for-en, .view-list-hyheder-article-for-all {
    .view-filters {
        .views-exposed-form {
            padding: 0 0 55px;
            border-bottom: 1px solid $black;
        }
    }

}

.show-all-post {
    position: absolute;
    right: 15px;
    top: 130px;
    font-size: 16px;
    color: black;
    input.allpost {
        margin-right: 5px;
    }
}


.view-list-hyheder-article, .view-list-hyheder-article-for-en, .view-list-hyheder-article-for-all {
    margin-top: 15px;
    .views-row {
        margin: 12px 0;
        .views-field-title a, .views-field-nothing a{
            background: transparent url(../img/pilA1c9b3.png) top right no-repeat;
            padding-right: 10px;
            line-height: 28px;
            font-family: 'Tinos-Italic', serif;
            font-size: 18px;
            font-weight: normal;
            list-style-type: none;
            text-decoration: none;
            color: $black;
            &:hover {
                background: transparent url(../img/pila1hoverc9b3.png) top right no-repeat;
                padding-right: 10px;
                color: $color-2 !important;
                cursor: pointer !important;
            }
        }
        .views-field-nothing span{
            margin-top: 10px;
            font-family: 'Tinos-Regular', serif;
            font-size: 15px;
            font-weight: normal;
            background: $white;
            color: $black;
            line-height: 16px;
            padding-bottom: 5px;
        }

        .views-field-field-summary, .views-field-nothing p{
            margin-top: 0px;
            font-family: 'Tinos-Regular', serif;
            font-size: 16px;
            font-weight: normal;
            background: $white;
            color: $black;
            line-height: 22px;
        }
    }
    .form-item-combine {
        float: right!important;
        label {
            font-family: Tinos-Regular,serif;
            font-size: 16px;
            font-weight: 400;
            background: $white;
            color: $black;
            line-height: 28px;
            padding-left: 3px;
            padding-right: 5px;
            display: inline-block;
        }
        input {
            margin: 0;
            padding: 0 4px;
            color: #666;
            background: $color-4;
            border: none;
            border-right: 1px solid #757575;
            font-family: Tinos-Regular,serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            overflow: hidden;
            height: 28px;
            border: 0;
            box-shadow: none;
            border-radius: 0;
            width: 203px;
        }
    }
    .form-item-field-year-target-id {
        float: left;
        label {
            font-family: Tinos-Regular,serif;
            font-size: 16px;
            font-weight: 400;
            background: $white;
            color: $black;
            line-height: 28px;
            padding-left: 3px;
            padding-right: 5px;
            display: inline-block;
        }
        select {
            font-family: Tinos-Regular,serif;
            font-size: 16px;
            font-weight: 400;
            background: $white;
            color: $black;
            line-height: 28px;
            padding-top: 0;
            height: 28px;
        }
        .select-wrapper {
            &:after {
                color: $black;
            }
        }
    }
    .form-actions {
        position: absolute;
        right: 10px;
        z-index: 99;
        background: $color-4;
        button {
            border: 0;
            height: 28px;
            border-radius: 0;
            text-indent: -9999px;
            background: url('/sites/default/files/inline-images/search-icon.png') no-repeat;
            width: 30px;
            border-left: 1px solid $color-1;
            margin-right: 0;
        }
    }
    #views-exposed-form-list-hyheder-article-default {
        display: block;
        padding: 0 0 38px;
        border-bottom: 1px solid $black;
    }
}

.pagination {
    float: right;
    .pager__item {
        font-family: 'Tinos-Regular', serif;
        font-size: 18px;
        font-weight: normal;
        background: $white;
        color: $black;
        line-height: 28px;
        list-style-type: none;
        display: inline;
        padding-left: 1px;
        padding-right: 0px;
        margin: 0;
        a {
            border: 0;
            background: transparent;
            color: $black;
            font-size: 18px;
            padding: 0 2px;
            border-radius: 0;
            margin: 0 5px;
            &:hover {
                background: transparent;
                color: $color-2;
            }
        }
        &.is-active {
            a {
                color: $white;
                background-color: $black;
                border-radius: 0;
                &:hover {
                    color: $black;
                }
            }
        }
        &.pager__item--next,.pager__item--last a:hover {
            color: $color-2;
        }
    }
}

span.control_prev, span.control_next {
    position: relative;
    height: 100%;
}

span.control_prev {
    img {
        top: 40%;
        position: absolute;
        left: 0;
        width: 40px;
    }
}

span.control_next {
    img {
        top: 40%;
        position: absolute;
        right: 0;
        width: 40px;
    }
}

.field--name-body, .paragraph--type--tab-menu {
    .nav.nav-tabs {
        background-color: $color-1;
        padding-top: 2px;
        padding-left: 1px;
        li {
            a {
                background-color: #e6e6e6;
                color: $black;
                border-radius: 10px 10px 0 0;
                padding: 7px 15px;
            }
            &.active {
                a {
                    background-color: $white;
                }
            }
        }
    }
}

img.anklagemyndigheden-Style-FloatRight {
    float: right;
    padding-left: 28px;
    margin: 0 !important;
    width: 50%!important;
}

table.ProjectList {
    border: 0px !important;
    border-collapse: separate !important;
    font: 11px tahoma;
    color: $black;
    width: 100%;
    overflow: unset;
    display: inline-flex;
    tr.ProjectList_Header {
        td, a {
            font-weight: bold;
            color: $black;
        }
        td {
            background: url(../img/GridHeaderBg.png) repeat-x bottom white;
            border-top: solid 1px #e5e5e5;
            border-bottom: solid 1px #bbb;
            padding-left: 6px;
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
    .ProjectList_Row, .ProjectList_AlternatingRow {
        td {
            background-color: $white;
            line-height: 22px;
            border-top: solid 1px #e9e9e9;
            border-bottom: solid 1px white;
            padding: 4px;
            font-family: Verdana, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: normal;
            color: $black;
            a {
                color: $black;
            }
        }
    }
}

.has-dot {
    margin-left: 15px;
    li{
        list-style: disc;
    }
}

.view-latest-news .views-row {
    margin-bottom: 10px;
    .views-field-field-date {
        .field-content {
            color: $black;
            font-family: 'Tinos-Regular', serif;
            font-size: 15px;
            font-weight: normal;
            line-height: 16px;
            padding-bottom: 5px;
        }
    }
}

.forsite-article .field--name-body .LatestNewsResultList {
    display: none;
}

.content-bottom {
    .bg-black {
        font-size: 25px!important;
    }
}

#NyVidensbaseSearch {
    position: static;
    margin-right: 5px;
}

.anklagemyndigheden-Element-P-2-Badge {
    a {
        color: $black;
        font-weight: bold;
    }
}

.forsite-article {
    @media (max-width: 991px) {
        .sidebar-menu, .content {
            padding: 0 15px;
        }
    }
    .field--name-field-summary {
        p {
            font-family: Tinos-Regular,serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: $black;
            margin: 15px 0;
        }
    }
}

.forsite-article .content {
    position: relative;
    .date-and-author-has-title-body {
        position: absolute;
        left: 0px;
        .view-date-and-author {
            color: $black;
            .views-field-field-date, .views-field-field-author-or-other {
                font-size: 15px;
            }
        }
    }

    .socialContent {
        margin-top: 40px;
    }
    .views-element-container.form-group {
        margin-bottom: 0;
    }
    .date-and-author-not-has-title-body {
        display: inline-block;
        padding: 15px 0;
        .view-date-and-author {
            color: $black;
            position: static;
            .views-field-field-date, .views-field-field-author-or-other {
                font-size: 15px;
            }
        }
        .field-author, .field-created{
            font-size: 15px;
            color: $black;
        }
    }
}

.carousel.slide {
    margin-bottom: 30px;
    .carousel-inner {
        .item {
            img {
                height: 206px;
            }
            p {
                background-color: $white;
                height: 55px;
                margin: 10px 0;
                font-size: 14px;
                color: #676767;
            }
        }
    }

    .carousel-control.left, .carousel-control.right {
        background: #ddd;
        height: 206px;
        opacity: 0.8;
        width: 33px;
        padding-bottom: 0;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        img {
            width: 33px;
        }
    }

    .carousel-indicators{
        bottom: -20px;
        left: 42%;
        width: 100%;
        margin-left: 0;
        li {
            width: auto;
            float: left;
            padding: 4px;
            width: 10px;
            height: 10px;
            background: url(../img/bullet.png);
            font-size: 32px;
            border: 0;
            margin: 0 4px;
            &.active {
                color: #440099;
                background: url(../img/bulletselected.png);
            }
        }
    }
}

.view-last-new-home-page, .view-last-new-home-page-en {
    .views-row {
        margin-bottom: 25px;
        a {
            cursor: pointer;
            color: $black;
            transition: none;
            .LatestNewsFrontpageListItemAnchor {
                display: inherit;
                padding-right: 12px;
                background: transparent url(../img/pilA1c9b3.png) right no-repeat;
                color: $black;
                font-family: 'Tinos-Italic', serif;
                font-size: 18px;
                font-weight: normal;
                list-style-type: none;
                text-decoration: none;
                padding-bottom: 0;
                font-style: italic;
                display: inline;
            }
            .field-date {
                margin: 10px 0;
                font-size: 15px;
            }
            &:hover {
                color: $color-2;
                .LatestNewsFrontpageListItemAnchor {
                    background: transparent url(../img/pila1hoverc9b3.png) right no-repeat;
                    color: $color-2;
                    display: inline;
                }
            }
        }
    }
}

#block-lastnewmore {
    display: block;
    margin-top: 20px;
}



.webform-subcriber {
    #block-webform {
        display: block;
        h2 {
            display: block;
            margin-top: 0;
            color: $black;
        }
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

        .webform-submission-abonnementer-form {
            display: block;
            #edit-type-subsribers {
                min-height: 20px;
                margin-bottom: 20px;
                background-color: #f5f5f5;
                border: 1px solid #e3e3e3;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
                .js-form-type-checkbox {
                    label {
                        font-family: Tinos-Regular,serif;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        color: #000;
                        margin-top: 2px;
                        margin-left: 5px;
                    }
                }
            }
            .js-form-type-email, .js-form-type-textfield {
                label {
                    font-family: Tinos-Regular,serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #000;
                    margin-top: 2px;
                    margin-left: 5px;
                    width: 100px;
                    display: inline-block;
                    &.form-required {
                        &:after {
                            background: transparent;
                        }
                    }
                }
                input.form-control {
                    width: 82%;
                    display: inline-block;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
            .webform-button--submit {
                float: right;
                font-family: Tinos-Italic,Serif;
                padding: 5px 10px 5px 5px;
                line-height: 20px;
                background: #000;
                color: #fff;
                font-size: 18px;
                border-radius: 0;
                border: 0;
                &:hover {
                    background: #409;
                }
            }
        }
    }
}


.date-and-author-has-title-body {
    .follow-twitter-button {
        display: inline-block;
        padding: 15px;
    }
}

.date-and-author-not-has-title-body {
    .follow-twitter-button {
        display: inline-block;
    }
}
.sidbar-right {
    padding: 0 20px 0 13px;
    img {
        width: 100%;
        height: auto;
    }
    .paragraph--type--single-text {
        img {
            width: auto;
            height: auto;
        }
    }
}

.share-button {
    margin-right: 10px;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.content-publications {
    h3 {
        margin-bottom: 30px;
    }
    span.anklagemyndigheden-Style-FloatLeft, table {
        img {
            width: 131px !important;
            height: auto !important;
            margin-right: 30px!important;
        }
    }
}


.paragraph {
    &--type--block-image-and-text {
        .field {
            &--name-field-text-label {
                margin: 35px 0 15px;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: $black;
            }
        }
        .field-image-with-link {
            .field-image {
                width: 100%;
            }
        }
        .field-image {
            width: 100%;
        }
    }

    &--type--link-url {
        p {
            margin: 0 0 10px;
        }
    }

    &--type--top-image-text {
        position: relative;
        .field {
            &--name-field-text-label {
                position: absolute;
                top: 30%;
                left: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: $black;
                @media(max-width: 414px) {
                  top: 27%;
                }
                @media(max-width: 575px) {
                    top: 49%;
                }
            }
        }
    }
    &--type--column-left, &--type--column-right {
        .paragraph {
            margin-top: 15px;
            &--type--block-image-and-text {
                .field--name-field-text-label {
                    margin: 5px 0 15px;
                }
            }
            .bg-black {
                font-size: 23px;
                min-height: 20px;
                padding-top: 25px;
                line-height: normal;
            }
        }
    }

    &--type--sidebar-right {
        .field--name-field-content {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $black;
        }
    }

    &--type--videnbasen {
        display: inline-block;
    }

    &--type--new-feed-for-home-page {
        border-top: 1px solid;
    }
}

.no-hyperlink {
  a {
    color: inherit;
  }
}

.border-left-min-992-1 {
  @media(min-width: 992px) {
    border-left: 1px solid #fff;;
  }
}
.border-right-max-991-1 {
  @media(max-width: 991px) {
    border-right: 1px solid #fff;;
  }
}
.txt-center-max-768 {
  @media(max-width: 768px) {
    text-align: center;
  }
}
//@an
.view-i-fokus {
    .views-field-title {
        margin: 15px 0;
        a {
            font-family: Tinos-Italic;
            font-weight: 400;
            font-size: 30px !Important;
            text-decoration: none !Important;
            line-height: normal;
            color: $black;
            background: url(../img/pilA4c9b3.png) center right no-repeat;
            padding-right: 10px;
            padding-bottom: 5px;
            &:hover {
                background: url(../img/pila4hoverc9b3.png) center right no-repeat;
                color: $color-2;
                padding-right: 10px;
            }
        }
    }
}
article {
	&.page {
		.field--name-body {
			.anch {
			    display: inline-block;
			    width: 25%;
			    padding: 0;
			    background-color: #000;
			    color: #fff;
			    font-size: 18px;
			    font-family: "Tinos-Italic", serif;
			    padding: 10px;
			    min-height: 80px;
			    text-align: center;
			    vertical-align: text-bottom;
			    clear: both;
			    &:hover {
				    color: #fff;
				    font-size: 18px;
				    font-family: "Tinos-Italic", serif;
				    background-color: #409;
				}
			}
		}
		.VidensbaseFrontPageSearchTextboxDiv {
			width: 192px;
			text-align: right;
			.VidensbaseFrontpageSearchBar {
				font-family: 'Tinos-Regular', serif;
			    font-size: 16px;
			    font-weight: normal;
			    font-style: normal;
			    margin: 0 0 5px;
			    padding: 0px 0px 0 2px;
			    color: #666;
			    background: #f4f4f4;
			    border: 0;
			    height: 28px;
			    line-height: 28px;
			    overflow: hidden;
			    width: 100%;
			    display: inline-block;
			    &:focus {
				    outline: none;
				}

			}
			.VidensbaseFrontpageSearchButton {
				color: #fff;
			    font-family: 'Tinos-Italic', Serif;
			    background: black;
			    font-size: 18px;
			    display: inline-block;
				&#NyVidensbaseSearch {
					margin: 0;
				}
				&:link,
				&:visited,
				&:active {
					font-family: 'Tinos-Italic', Serif;
				    padding: 5px 10px 5px 5px !important;
				    background: black;
				    color: white;
				    font-size: 18px;
				    text-align: right;
				    margin-top: 1px;
				    float: none;
				}
			}
		}
	}
}
[class*="sidbar-"] {
	article.embedded-entity {
		> img {
		    width: auto;
		}
	}
}
.sidbar-right {
	.paragraph--type--videnbasen {
	    width: 100%;
	}
	.VidensbaseFrontpageSearchBar {
	    width: 100%;
	    &:focus {
		    outline: 0;
		}
	}
	#NyVidensbaseSearch {
		margin: 0;
	}
}
.CookieAcceptImageDivClass {
	img {
	    width: auto;
	}
}
.content-title {
    -ms-name: "Overskrift lille";
    font-family: 'Tinos-Regular', serif;
    font-weight: normal;
    font-size: 25px;
    line-height: normal;
    color: Black;
}
@media only screen and (max-width: 991px) {
	.main-container {
		.paragraph--type--title-black-box,
		.field--name-field-text-label {
			.bg-black {
			    display: block;
			    margin: 0;
			    padding: 4px 10px 5px;
			    font-size: 20px;
			    min-height: unset;
			    line-height: normal;
			}
		}
	}
	.MainColumnContainer {
		.field--name-field-block-type {
			.field--item {
				&:nth-child(3) {
				    clear: both;
				}
			}
		}
	}
	.main-container .FrontPageColumnFour img, .main-container .FrontPageColumnThree img {
	    width: auto;
	    margin: auto;
	    display: block;
	    max-width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	article.page {
		.field--name-body {
			.anch {
			    display: block;
			    width: auto;
			    min-height: 55px;
			    line-height: 55px;
			    margin: auto;
			    max-width: 90%;
			}
		}
	}
    #imgRetslokaleDiv {
    background: transparent;
    height: auto;
    display: flex;
    flex-direction: column;
}

#imgRetslokaleDiv .felt {
    border: 1px solid #409;
    display: block;
    position: unset;
    margin: 10px 0;
}
#imgRetslokaleDiv .felt .pil {
    left: -1px;
    top: -1px;
    margin-right: 15px;
}
#divAnklageren {
    order: 1;
}

#divForsvareren {
    order: 2;
}

#divDommerne {
    order: 3;
}

#divTiltalte {
    order: 4;
}

#divVidnet {
    order: 5;
}

#divOfferet {
    order: 6;
}

#divBistandsadvokaten {
    order: 7;
}

#divTilhoererne {
    order: 8;
}

#divProt {
    order: 9;
}

#divTolken {
    order: 10;
}
}
@media only screen and (max-width: 480px) {
    .main-container {
        .FrontPageColumnFour,
        .FrontPageColumnThree {
            width: 50%;
        }
        .FrontPageColumnOne, 
        .FrontPageColumnTwo {
            width: 100%;
        }
    }
}
@media only screen and (max-width: 375px) {
	.main-container .FrontPageColumnFour img, 
	.main-container .FrontPageColumnThree img {
	    width: auto;
	}
}
@media only screen and (max-width: 320px) {
    .main-container {
        .FrontPageColumnOne,
        .FrontPageColumnTwo,
        .FrontPageColumnThree,
        .FrontPageColumnFour {
            width: 100%;
        }
    }
}
header {
	.menu li {
	    position: relative;
	    &.open-submenu {
	        > .submenu,
	        > .dropdown-menu {
	            display: block;
	        }
	        > .toggle {
	            &:before {
	                content: "\f107";
	            }
	        }
	    }
	    .submenu,
	    .dropdown-menu {
	        display: none;
	    }
	    .toggle {
		    position: absolute;
		    width: 30%;
		    background-color: transparent;
		    height: 42px;
		    right: 0;
		    text-align: right;
		    z-index: 1;
		    top: 0;
		    cursor: pointer;
		    &:before {
			    content: "\f105";
			    font-family: "fontawesome";
			    font-size: 17px;
			    color: #000;
			    top: 0;
			    left: 0;
			    position: absolute;
			    margin: auto;
			    display: block !important;
			    right: 15px;
			    bottom: 0;
			    line-height: 40px;
			    opacity: 1;
			}
		}
	}
}
header.navbar-default #navbar-collapse .menu.dropdown-menu {
    position: unset;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    float: none;
    font-size: inherit;
    padding: 0;
    background-color: transparent;
    margin-left: 15px;
}
.project-logo {
    background-repeat: no-repeat;
    background-position: center;
}
table.ProjectList td {
    font-family: "Tinos-Regular" !important;
    font-size: 15px !important;
}
.sidbar-right {
    background-color: #fff;
}
.view-list-hyheder-article {
    .views-row {
        padding-bottom: 23px;
    }
    .views-row:first-child {
        margin-top: 0;
    }
    .view-filters {
        margin: 0;
    }
}
.field--item .field--item .field--item .field--item .hr {
    display: none !important;
}
.path-frontpage .field--item:nth-child(2) .hr {
    display: block !important;
    width: 100%;
    background-color: #ccc;
    height: 1px;
    margin: 3em 0 0;
}
.view-last-new-home-page .views-row a .field-date {
    margin: 8px 0;
}

.path-frontpage .view-last-new-home-page {
    padding-right: 2em;
}
.path-frontpage .bg-purple {
    margin: 0;
}
.path-frontpage .view-i-fokus .views-field-title {
    margin: 0;
}
.path-frontpage .FrontPageColumnOne .paragraph--type--block-image-and-text {
    margin: 0 !important;
}
.paragraph--type--column-right .mejs__container.mejs__video {
    height: 205px !important;
    width: 100% !important;
    .mejs__poster {
        height: 100% !important;
    }
}
.mejs__container {
    max-width: 100%;
}

#tweetfeed {
    overflow-x: hidden;
}
.field--type-text-with-summary {
    line-height: 22px;
}
article.page .field--name-body a.anklagemyndigheden-Element-A-2 {
    font-family: Tinos-Italic,serif;
}