opac {
	font-size: 62.5%;
	padding: 0;
	margin: 0;
}

.player {
	background: $black;
	box-sizing: border-box;
	height: 30px;
	-moz-box-sizing: border-box;
	float: left;
	font-family: Arial, sans-serif;
	position: absolute;
	padding: 0;
	bottom: 8px!important;
	bottom: 20px;
	z-index: 2;
	opacity: 1;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.video {
	position: relative;
	margin: 0px auto;
}

.video:hover .player {
	opacity: 1!important;
}

.player .progress {
	width: 60%;
    height: 10px;
    border-radius: 5px;
    background: #676767;
    box-shadow: inset 0 -5px 10px rgba(0,0,0,.1);
    float: left;
    cursor: pointer;
    margin: 11px 0 0;
    padding: 0;
    position: relative;
    font-variant: normal;
}

.player .progress-bar {
	background: $color-2;
	box-shadow: inset -30px 0px 69px -20px $color-2;
	border-radius: 5px;
	height: 100%;
	position: relative;
	z-index: 999;
	width: 5px;
}

.player .button-holder {
	position: relative;
	left: 10px;
}

.player .progress-button {
	background: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	border-radius: 30px;
	width: 8px;
	height: 8px;
	top: 1px;
	position: absolute;
	left: -20px;
	text-decoration: overline;
}


.player [class^="buffered"] {
	background: rgba(255,255,255,0.1);
	position: absolute;
	top: 0;
	left: 30px;
	height: 100%;
	border-radius: 5px;
	z-index: 1;
}

.player .play-pause {
	display: inline-block;
	font-size: 1.2em;
	float: left;
	text-shadow: 0 0 0 #fff;
	color: rgba(255,255,255,0.8);
	width: 10%;
	padding: 5px 0 0 3%;
	cursor: pointer;
	font-variant: small-caps;
}

.player .play, .player .pause-button {
	-webkit-transition: all 0.2s ease-out;
}

.player .play .pause-button, .player .pause .play-button {
	display: none;
}

.player .pause-button {
	padding: 5px 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 23px;
}

.player .pause-button span {
	background: #fff;
	width: 4px;
	height: 13px;
	float: left;
	display: block;
}

.player .pause-button span:first-of-type {
	margin: 0 4px 0 0;
}

.player .time {
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	position: absolute;
	right: 0;
	top: 24px;
}

.player .stime, .ttime {
	color: #444;
}
.player .play:hover {
	text-shadow: 0 0 5px #fff;
}

.player .play:active, .pause-button:active span {
	text-shadow: 0 0 7px #fff;
}


.player .pause-button:hover span {
	box-shadow: 0 0 5px #fff;
} .player .pause-button:active span {
	box-shadow: 0 0 7px #fff;
}


.player .volume {
	position: relative;
	float: left;
	width: 8%;
	margin: 0 0 0 4%;
	height: 100%;
}

.player .volume-icon {
	padding: 1.5%;
	height: 100%;
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: all 0.15s linear;
}

.player .volume-holder {
	height: 95px;
    width: 50%;
    position: absolute;
    display: none;
    background: #4f4f4f;
    left: 8px;
    top: -90px;
}

.player .volume-bar-holder {
	background: #333;
    width: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    margin: 10px auto;
    height: 80px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.player .volume-button {
	background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    border-radius: 30px;
    width: 8px;
    height: 8px;
}

.player .volume-button-holder {
	position: relative;
    top: -5px;
    left: -1.5px;
}

.player .volume-bar {
	background: $color-2;
	box-shadow: inset -30px 0px 69px -20px $color-2;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
}

.player .fullscreen {
	width: 12%;
	cursor: pointer;
	float: left;
	height: 100%;
}

.player .fullscreen a {
	width: 25px;
    height: 20px;
    border-radius: 3px;
    display: block;
    position: relative;
    top: 4px;
    margin: 0 auto;
    text-align: center;
    color: #fff;

	&:before {
		content: "\f0b2";
		font-family: FontAwesome;
		position: absolute;

	}
}

.player .volume-icon span {
	width: 20%;
    display: block;
    position: relative;
    z-index: 1;
    font-weight: 700;
    top: 36%;
    color: #fff;
    left: 22%;
}

.player .volume-icon span:before,
.player .volume-icon span:after {
	content: '';
	position: absolute;
}
.player .volume-icon span:before {
    border-left: none;
    font-family: FontAwesome;
    content: "\f026";
    z-index: 2;
    top: -3px;
    left: 10%;
    margin-top: -40%;
}
.player .volume-icon span:after {
	width: 2%;
	height: 2%;
	border: 1px solid #fff;
	left: 190%;
	border-width: 0px 0px 0 0; 
	top: 5px;
	border-radius: 0 50px 0 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	 transform: rotate(45deg);
	 font-variant: small-caps;
 }

.player .v-change-11 span:after { border-width: 10px 10px 0 0; top: 0; }
.player .v-change-10 span:after { border-width: 9px 9px 0 0; top: 1px; }
.player .v-change-9 span:after { border-width: 8px 8px 0 0; top: 1px; }
.player .v-change-8 span:after { border-width: 7px 7px 0 0; top: 2px; }
.player .v-change-7 span:after { border-width: 6px 6px 0 0; top: 2px; }
.player .v-change-6 span:after { border-width: 5px 5px 0 0; top: 3px; }
.player .v-change-5 span:after { border-width: 4px 4px 0 0; top: 3px; }
.player .v-change-4 span:after { border-width: 3px 3px 0 0; top: 4px; }
.player .v-change-3 span:after { border-width: 2px 2px 0 0; top: 4px; }
.player .v-change-2 span:after { border-width: 1px 1px 0 0; top: 5px; }
.player .v-change-1 span:after { border-width: 0px 0px 0 0; top: 5px; }

.player .v-change-1 span:after {
	content: '+';
	-webkit-transform: rotate(45deg);
	font-size: 20px;
	top: -9px;
	left: 20px;
}

