.tree {
  cursor: pointer;
}

.map {
  width: 380px;
  height: 380px;
}

.land {
  stroke: #440099;
  fill: #000000;
  cursor: pointer;
}

.selected {
  fill: #440099;
}

.selectedParentxx {
  fill: #044B94;
  fill-opacity: 0.4;
  stroke: #808080;
  stroke-width: 100;
}

.selectedXxx {
  fill: #044B94;
  fill-opacity: 0.4;
  stroke: #808080;
  stroke-width: 8;
}

.OrgChartHeadlineListItem {
  list-style-type: none;
  text-decoration: none;
}

.OrgChartList {
  padding-bottom: 0px;
  margin: 0px;
  padding-left: 0px;
  width: 400px;
  padding-right: 0px;
  overflow: hidden;
  padding-top: 0px;
}

.OrgChartDiv {
  background-color: #f4f4f4;
  display: inline-block;
  font-family: "Tinos-Regular", serif;
  float: right;
  color: black;
  font-size: 16px;
  font-weight: normal;
  width: 420px;
}

.OrgChartJustistMinisterietDiv {
  line-height: 28px;
  list-style-type: none;
  padding-left: 25px;
  font-family: "Tinos-Italic", serif;
  white-space: normal;
  background: url(../img/pil_hvid.png) black no-repeat 8px 8px;
  color: white;
  font-size: 18px;
  font-weight: normal;
  padding-top: 2px;
  user-select: none;
  -ms-user-select: none;
  cursor: hand;
}

.OrgChartHover {
  background-color: #440099 !important;
  color: white !important;
}

.OrgChartRigsadvokatenDiv {
  line-height: 28px;
  list-style-type: none;
  padding-left: 25px;
  font-family: "Tinos-Italic", serif;
  white-space: normal;
  background: url(../img/pil_hvid.png) #757575 no-repeat 8px 8px;
  color: white;
  font-size: 18px;
  vertical-align: top;
  font-weight: normal;
  padding-top: 2px;
  user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.OrgChartStatsAdvokatDiv {
  line-height: 28px;
  list-style-type: none;
  padding-left: 25px;
  font-family: "Tinos-Italic", serif;
  white-space: normal;
  margin-bottom: 2px;
  background: url(../img/pil_ned.png) #cccccc no-repeat 7px 12px;
  color: black;
  font-size: 16px;
  font-weight: normal;
  padding-top: 2px;
  user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.StatsadvokatDivInfoLink {
  line-height: 28px;
  list-style-type: none;
  padding-left: 20px;
  font-family: "Tinos-Regular", serif;
  white-space: normal;
  background: url(../img/pil_sort.png) no-repeat 0px 3px;
  color: black;
  font-size: 16px;
  font-weight: normal;
  padding-top: 0px;
}

.OrgChartPolitiKredsDiv {
  line-height: 28px;
  list-style-type: none;
  padding-left: 25px;
  font-family: "Tinos-Italic", serif;
  white-space: normal;
  color: black;
  font-size: 16px;
  font-weight: normal;
  padding-top: 2px;
  user-select: none;
  -ms-user-select: none;
  pointer: hand;
}

.OrgChartStatsAdvokatInfoDiv {
  position: relative;
  background-color: #cccccc;
  padding-left: 8px;
  width: 250px;
  display: table-cell;
  font-family: "Tinos-Regular", serif;
  height: 300px;
  color: black;
  font-size: 16px;
  top: 0px;
  font-weight: normal;
  padding-top: 5px;
  left: 0px;
  a {
    &:link, &:visited {
      padding-bottom: 10px;
      line-height: 24px;
      display: inline-block;
      font-family: "Tinos-Italic", serif;
      color: black;
      font-size: 16px;
      font-weight: normal;
      text-decoration-style: none;
    }
  }
}

.OrgChartPolitiKredsInfoDiv a {
  &:link, &:visited {
    padding-bottom: 10px;
    line-height: 24px;
    display: inline-block;
    font-family: "Tinos-Italic", serif;
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-decoration-style: none;
  }
}

.PolitiDivInfoLink {
  padding-bottom: 20px;
  line-height: 28px;
  list-style-type: none;
  padding-left: 20px;
  font-family: "Tinos-Regular", serif;
  white-space: normal;
  background: url(../img/pil_hvid.png) #440099 no-repeat 0px 3px;
  color: white;
  font-size: 16px;
  font-weight: normal;
  padding-top: 0px;
}

.StatsadvokatDivInfoHeadline {
  font-family: "Tinos-Regular", serif;
  white-space: normal;
  color: black;
  font-size: 26px;
  font-weight: normal;
  height: 140px;
  line-height: 130%;
  /*height: auto;*/
}

.OrgChartPolitiKredsInfoDiv {
  position: relative;
  background-color: #440099;
  padding-left: 8px;
  width: 230px;
  display: table-cell;
  font-family: "Tinos-Regular", serif;
  height: 300px;
  color: white;
  font-size: 16px;
  top: 0px;
  font-weight: normal;
  padding-top: 5px;
  left: 10px;
}

#PrimaryCard {
  position: relative;
  background-color: #cccccc;
  padding-left: 8px;
  width: 250px;
  display: table-cell;
  font-family: "Tinos-Regular", serif;
  height: 300px;
  color: black;
  font-size: 16px;
  top: 0px;
  font-weight: normal;
  padding-top: 5px;
  left: 0px;
  margin-left: 10px;
}

#SecondaryCard {
  position: relative;
  background-color: #440099;
  padding-left: 8px;
  width: 250px;
  display: table-cell;
  font-family: "Tinos-Regular", serif;
  height: 300px;
  color: white;
  font-size: 16px;
  top: 0px;
  font-weight: normal;
  padding-top: 5px;
  left: 10px;
  margin-left: 10px;
}

.OrgChartHeadTextDiv {
  margin: 20px;
  font-family: "Tinos-Regular", serif;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

.PolitiDivInfoHeadline {
  font-family: "Tinos-Regular", serif;
  white-space: normal;
  color: white;
  font-size: 26px;
  font-weight: normal;
  height: 135px;
  // height: auto;
}

.PolitiDivInfoBody, .StatsadvokatDivInfoBody {
   height: 160px; 
}

.rigsadvokaten, .statsadvokaten{
  margin-left: 40px;
}
.cordjyllands, .politi{
  margin-left: 30px;
}

.AnklDkHighHeaderBlock{
 width: 100%;
}
@media screen and (min-width: 992px){
 .AnklDkHighHeaderBlock{
  width: 963px;
 }
}
@media screen and (max-width: 991px){
 .OrgChartDiv{
  float: none;
     display: block;
     width: 100%;
 }
}